[2015-04-27 17:49] mvertens opened #1 "this is an issue"
alice will make the labels
sean will provide the sippy cup

[2015-05-01 15:50] ekluzek opened #2 "This is a new issue"
hello

[2015-05-04 22:01] mnlevy1981 opened #5 "CSM and CCSM still prevelant in CESM scripts"
Examples:

[code]

and

[code]

[2015-05-05 14:59] #2 closed, assigned to nobody

[2015-05-06 21:18] quantheory commented on #1
We took a first crack at labels on Friday. I couldn't find a sippy cup, but I think this won't spill much:

:baby_bottle:

[2015-05-06 21:18] #1 closed, assigned to quantheory

[2015-05-06 21:35] quantheory commented on #5
Note also the uses in the names of files/directories in CIME, which might be more annoying to move because there are probably scripts that expect to find them in certain places that have to be fixed at the same time, but there are fewer of them overall.

[code]

If we want to generalize CIME to some super-community (i.e. for models outside of CESM), we would want to also remove "CESM":

[code]

If

[2015-05-18 20:23] quantheory opened #12 "CIME-ization of CMake (mostly unit) tests"
I will have a PR for most of this pretty soon, but I just wanted to put up a list of items to resolve.
1. Put a top-level `CMakeLists.txt` in CIME for building the existing unit tests. Should be simple as long as we don't have problems with name collisions.
2. Replace CESM labels with CIME. Mostly this is about directory structure, i.e. doing as much as possible relative to the root directory of C

[2015-05-18 20:23] quantheory commented on #12
CC @jedwards4b, while I'm at it.

[2015-05-18 20:38] quantheory commented on #12
Oh, and although it's not urgently needed to run PIO tests from here, since PIO can be built and tested on its own, it wouldn't hurt to add the ability to run tests for the PIO version currently in CIME.

[2015-05-18 20:42] jedwards4b commented on #12
I was copied the first time...

The machines/configure should be able to handle the generic case, try it
anyway.

It should be easy to enable PIO tests, it's CMakeLists.xml just needs an
additional argument or two.

On Mon, May 18, 2015 at 2:23 PM, Sean Patrick Santos <
notifications@github.com> wrote:

##

Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2015-05-18 20:45] quantheory commented on #12
Yeah, I forget that we have that subscription set up so that some people get notified for every new issue.

I'll try to get as much as I can done at once; I'll let you know if there are any issues relevant to you.

[2015-05-20 11:24] billsacks commented on #12
@quantheory and @ekluzek : Regarding gen_domain: (This should probably be moved to its own issue, but I'm commenting here since you mentioned it.) My initial reaction is that this test should not be part of the unit test suite, at least not as it is currently written. This is for (at least) three reasons:

(1) It requires pointing to a checkout of a baseline tag that you want to compare against -

[2015-05-20 16:15] ekluzek commented on #12
I think we should think of gen_domain as a system test of a particular
tool. In the longer run we probably want to have a set of tools system
tests that run on all of the tools under cime/tools. The baseline result
should probably be handled similar to the main cime/scripts/create_test
with generate and compare options and the result stored under ccsm_baseline.

It doesn't take a horrible amount o

[2015-05-22 21:57] billsacks opened #15 "create_newcase fails if cime is a symlink to another location"
I would like to be able to do the following:

From /path/to/cesm/checkout:

mv cime cime.svn
ln -s /path/to/cime/git/clone cime

cd cime/scripts
create_newcase ...

But I get something like:

cp: cannot stat `/path/to/cime/git/clone/../components/cism/bld/cism.buildlib': No such file or directory

The problem is in this code in create_newcase, which is also in create_test and elsewhere:

[code]

A

[2015-05-22 22:07] quantheory commented on #15
Personally, I like option 2. But I'm curious whether just using a hard link would work for your purposes.

[2015-05-22 22:24] billsacks commented on #15
@mvertens @jedwards4b @sholly @bandre-ucar @mnlevy1981  -- I'd be interested in your feelings on:

(a) Whether this is a problem that should be solved, or whether I'm just doing something screwy.

(b) If this problem should be solved, then which of my proposed solutions do you think is best. Actually, some of the solutions can be combined, so it's not a one-or-the-other question, but rather: which

[2015-05-22 22:25] billsacks commented on #15
@quantheory : You can't hard link to a directory, right?

[2015-05-23 12:34] jedwards4b commented on #15
I think that any or all of these solutions would be fine.  You aren't
removing any current functionality just extending it in a way that makes
sense for developers.   It would be nice if we could figure out a way to do
the checkout so that you don't have to get cime using svn every time.

On Fri, May 22, 2015 at 4:24 PM, Bill Sacks notifications@github.com
wrote:

##

Jim Edwards

CESM Software En

[2015-05-23 19:24] quantheory commented on #15
@billsacks Oh, right, on most systems you can't.

[2015-05-27 22:34] quantheory opened #18 "Split of csm_share"
For a long while, I've felt that `csm_share` is throwing a lot of things together that don't really go together, just because they happen to be used by multiple components.

This perhaps makes it a little harder to reuse share code, simply because it's harder to find what you're looking for. It also causes problems for programs that would like to use utility code, but have to be built outside CESM

[2015-05-27 22:51] jedwards4b commented on #18
Hi Sean,

I think that this would be a great thing to do.   But I think that we need
to make the line of division as clear as possible.
Files in the first group should not have any dependancies other than other
files in that group and the timing utilities.

The other four groups (all labeled 1)  should be combined into one or at
most 2.   Maybe one is science utilities and the other is cime utilit

[2015-05-28 06:34] quantheory commented on #18
@jedwards4b I actually agree that 2 should be a separate library; I just wasn't sure if it was worth compiling separately because it's so small right now. Your "science utilities" vs. "cime utilities" distinction sounds right to me. I think (hope) that 2 will not stay small if component models are willing to move other science/math utilities into CIME (e.g. writing custom linear interpolation code

[2015-05-28 11:53] billsacks commented on #15
Here are references to '../components' from cime that would need to be changed with idea (2) above (and probably the other ideas as well). These would need to either allow the user to point to the components directory via an optional argument to the top-level script, or use COMPONENTS_ROOT in place of CIME_ROOT:

[code]

That is from the tag move_glint_to_cpl2_n02, using a recursive grep for '../c

[2015-05-28 11:56] billsacks commented on #15
Also, from a grep for -i 'cimeroot/../'

there are these additional lines in the top-level scripts:

[code]

[2015-05-28 12:02] billsacks commented on #15
For idea (2), we'll need to replace various uses of CCSMROOT and SRCROOT with COMPONENT_ROOT. From a grep for these, this looks pretty straightforward.

[2015-05-28 12:07] billsacks commented on #15
A little harder may be replacing uses of abs_path. There aren't a ton of these, but they will need to be replaced -- things like this:

./clm/bld/CLMBuildNamelist.pm:  my $cesmroot = abs_path( "$cfgdir/../../../");

In that particular case (and maybe others), it looks like we could instead use the CIME_ROOT xml variable that I am proposing.

[2015-05-28 12:10] billsacks commented on #15
My current thinking is that, for now, I will try to implement (2), but won't try for (1) or (3). Part of my rationale here is that "fixing" this via (1) and (3) feel like it could break other workflows. For example, if someone has a checkout of CESM without any sym links (i.e., a standard checkout), but a sym link like this:

current_cesm_cime -> /path/to/my/cesm/checkout/cime

then do:

cd curren

[2015-05-28 15:17] jedwards4b opened #19 "Run script does not run getTiming tool"
The new run script does not invoke the getTiming tool to put timing output into the case directory.

[2015-05-29 20:45] billsacks commented on #15
Ben, Sean and Jay have all convinced me that what I'm trying to do is generally a bad idea. Instead, I should create a separate cime clone in each cesm checkout.

So I'm not going to try to address this (non)issue for now.

[2015-05-29 20:45] #15 closed, assigned to billsacks

[2015-06-04 17:01] apcraig opened #20 "System requirements for CESM"
The issue is being used to track CIME system requirements

perl v5.10.0 or newer
LibXML
cmake
netcdf 4.3.2 or newer, 4.3.3.1 recommended
pnetcdf 1.6.0 required, 1.6.1 recommended (if using pnetcdf with pio)
python 2.7 or newer
lapack

gmake ?
intel compiler version ??
pgi compiler version ??
MPI version ??

[2015-06-04 17:12] jedwards4b commented on #20
netcdf required 4.3.2 or newer, recommended 4.3.3.1
pnetcdf 1.6.0 required 1.6.1 recommended

On Thu, Jun 4, 2015 at 11:01 AM, apcraig notifications@github.com wrote:

##

Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2015-06-04 19:33] cacraigucar opened #21 "Error check should be added if turn on short-term archiving but do not use submit script"
In 6/1/2015's cseg notes there was the following:

"Note that, for this to work properly, you need to run the 'submit' script (which is what submits the run script and the short-term archive script) – you do NOT want to do bsub < runscript any more."

I spoke with Jay and asked him what would happen if you turned on short-term archiving, but do not use the submit script and used the old bsub<runsc

[2015-06-04 20:12] jedwards4b commented on #19
Fixed in commit 163b821a91dc861f0162426fa4a300f58905eb3c

[2015-06-04 20:12] #19 closed, assigned to sholly

[2015-06-05 02:34] quantheory commented on #18
Apologies for being slow to respond recently; I'm quite wrapped up in trying to get some new WACCM5.X configurations to work so that we can try some preliminary runs before Breckenridge.

Continuing the discussion, quoting @apcraig (Tony) from #17:

I'll take this a bit at a time:

Two things:
- This should not happen to the modules in category 1, which are the ones that I'm most concerned about s

[2015-06-06 11:49] billsacks commented on #20
pgi: soon will require >= 15.1

[2015-06-06 11:56] billsacks opened #22 "Test status: Need better differentiation between RUN and FAIL results"
The test status of "RUN" is used both to mean "the test is running" and "the test died while running".

This has always been a problem, but it seems to have gotten more prevalent with the recent changes made to the test reporting.

If we want to move towards more automation of test reporting (e.g., emailing you when your test suite is done, with a summary of failures), I think we need to improve t

[2015-06-06 18:45] apcraig commented on #20
is cmake required, when did that come in?  looks like i can't build pio without cmake.  is that correct?

[2015-06-06 19:06] quantheory commented on #22
If a test hangs, or otherwise runs out of time, it can't change its own status away from RUN. But I guess that if we record the job number somewhere, a later script can check on it and change the status to FAIL, if the batch system says that the job already completed.

[2015-06-06 19:27] jedwards4b commented on #20
cmake is required for pio and unit tests.  That's been a requirement for a
year or more.

On Sat, Jun 6, 2015 at 12:45 PM, apcraig notifications@github.com wrote:

##

Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2015-06-06 22:40] ekluzek commented on #22
Often the RUN status happens with cases that did fail, but because of the
nature of the fail (a seg-fault) it doesn't seem to realize what happened.
It might be MPI to blame where the job is only finally killed on a
time-out? We wouldn't get RUN status's so often if it was only due to
running out of time.

_Erik Kluzek, (CGD at NCAR)_

_National Center for Atmospheric Research_

*Boulder CO, *

_(

[2015-06-07 03:20] billsacks commented on #22
@quantheory - that's a good point. But I agree with @ekluzek 's assessment: it seems like jobs running out of time only account for a small number of these RUN statuses. We're now getting RUN status for some failed SMS jobs, which never used to happen before. For example, SMS_Ld5.f19_g16.ICLM45ED.yellowstone_gnu.clm-edTest gives RUN rather than FAIL. Clearly the test knows that it failed:

$ tail

[2015-06-07 18:25] rljacob commented on #20
Just curious but why will pgi >= 15.1 be required?

[2015-06-07 20:34] billsacks commented on #20
Because pgi 15.1 is finally approaching something that doesn't cause repeated compiler bugs whenever we change any code.

More specifically: The rework of the CLM-CISM coupling that will soon be coming in to CIME raised yet another compiler error in pre-15 pgi, and it was taking too much time to try to keep finding work-arounds.

[2015-06-08 20:51] apcraig commented on #20
Anyone know what the current recommendations are for the pgi compiler?  I have been using pgi 11.8 on many linux clusters up to now.  Will that work with the current version?  If not what are a couple "recommended" versions, prior to the 15.1 requirements upcoming soon?

[2015-06-08 21:13] quantheory commented on #20
According to what I wrote on the bug list, 13.9 is the recommendation for CESM 1.2.2 (it just happens to be the version tested; older versions may work):

https://wiki.ucar.edu/display/ccsm/Fortran+Compiler+Bug+List

Past that, it is mostly "newer is better", because we kept bumping versions, and there are few regressions compared to the number of bug fixes. Over the past year and a half, we've fi

[2015-06-10 15:57] jedwards4b commented on #18
As I think about this more I think that the category 1 library should be in it's own standalone repository and included as a subtree in cime.   This will allow it to be more easily used without cime.

[2015-06-10 17:26] rljacob commented on #18
It could also be presented as a generic library useful for any Fortran application.

[2015-06-10 17:33] quantheory commented on #18
That was actually where I wanted to go with this. I didn't make much of a case in the CSEG meeting on Monday, because I was getting a bit burned out on the subject (and due to the pre-Breck crunch), and I just wanted to get some incremental changes started first.

[2015-06-10 23:02] rljacob commented on #18
I've thought about doing something similar with MPEU which overlaps with many of the things in category 1 and is useful even if you're not doing coupling.

[2015-06-16 23:22] quantheory opened #26 "pFUnit and MPI tests"
I know that @jedwards4b is working on adding share code that uses MPI with associated tests, but I don't know if he's hitting the same issue as I am.

The immediate issues, which we already have on master, are problems with the `driver_cpl` tests added by @billsacks. Right now, each test calls `mpi_init` and `mpi_finalize` during the `setUp`/`tearDown` subroutines. However, the MPI standard does n

[2015-06-17 15:23] billsacks commented on #26
I put this note in mpi_wrapper_mod.F90:

  ! NOTE(wjs, 2015-01-16) Currently this has been set up with serial unit tests in mind -
  ! using a serial build of pFUnit and the mpi-serial library (although this probably also
  ! works with a true mpi library). More thought will be needed about how to make this
  ! work with either serial or parallel pFUnit tests. In particular: I think parallel
  ! p

[2015-06-17 16:20] quantheory commented on #26
For now, I've gone with option (1), and I've added a commit to #25 for that. (Maybe it should be its own PR, but it has the same theme, namely getting `driver_cpl` to build on more systems.)

The only downside is that you do need an MPI implementation to run the CIME unit tests with this change, which hopefully is not that big a deal. It shouldn't be that hard to build MPICH even on a laptop and g

[2015-06-23 15:29] jedwards4b opened #27 "wallclock time and other job script parameters"
I would like a way to quickly edit the wallclock time or submit queue for a particular job.   I think currently these variables are read from the machines directory each time.   They should be copied to env_run.xml so that they can be user edited.

[2015-06-24 16:14] jedwards4b opened #29 "clean_build for selected targets"
Currently $CASE.clean_build cleans all the component builds, by default and has one argument 'all' which cleans everything.   I propose adding arguments to $CASE.clean_build to clean only the selected target library.   So for example $CASE.clean_build atm would clean the atm component
$CASE.clean_build mct would clean the mct library.

[2015-07-01 18:07] mnlevy1981 opened #38 "create_newcase should make sure case name is valid"
A while back I found out that having a '+' in the name of a case will cause the short-term archiver to abort before copying files out of the run directory, and I bet there are other characters that should be avoided as well. It would be nice if create_newcase would prevent the user from using these characters in the first place.

[2015-07-06 21:34] quantheory opened #39 "Saturation vapor pressure in `shr_flux_mod`"
In CAM, we've mostly consolidated water vapor saturation calculations into a single module, a modified version of which was added to CIME in #17. `shr_flux_mod` still has its own, different method of determining the humidity at saturation.

Most of the reasons for the CAM changes don't really apply to `shr_flux_mod`. Any of the common approximation methods will give effectively the same answer at

[2015-07-07 22:52] mnlevy1981 opened #40 "Refactor in 1.1.0 to add perl5lib/Batch breaks unsupported machines"
On my laptop I have a `~/.cesm/` directory with config_compilers.xml, config_machines.xml, config_pes.xml, and a couple of mkbatch files -- up through cime1.0.8 this worked as expected for creating small test cases, but as of cime1.1.0 I get the following error when running `cesm_setup`:

[code]

perl5lib/Batch didn't exist in 1.0.8, so I don't know where to begin trouble-shooting... sorry!

[2015-07-07 22:54] bandre-ucar commented on #40
I've patched perl5lib to re-enable userdefined machines in:

https://github.com/bandre-ucar/cime/tree/userdefined

You need to rename ~/.cesm to ~/.cime. Here is an updated config_machines entry:

[code]

[2015-07-08 01:25] mnlevy1981 commented on #40
This worked for me, except I'm having trouble running pio_initdecomp from POP... but at least I can create a case and build an executable! I'll do some comparisons between my local machine and yellowstone tomorrow.

[2015-07-08 13:02] jedwards4b commented on #40
Make sure that the pio build properly found the netcdf and/or pnetcdf
libraries.

On Tue, Jul 7, 2015 at 7:25 PM, Michael Levy notifications@github.com
wrote:

##

Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2015-07-08 18:00] mnlevy1981 opened #41 "Running job overwrites CaseStatus in 1_4_alpha05f (cime1.1.8)"
I've taken the following steps, and tracked CaseStatus along the way:
1. ./cesm_setup

[code]
2. ./xmlchange

[code]
3. ./$CASE.build

[code]
4. ./$CASE.submit

[code]

I think the issue is in machines/template.cesmrun: line 171 should have a ">>" instead of a ">"?

[2015-07-10 22:28] quantheory opened #43 "config_compilers element selection"
I've written a tentative schema for a new `config_compilers` format, to satisfy unit test requirements and clean up some odd quirks, e.g. using an `append="true"` attribute instead of the `ADD_` prefix. (This is coming soon, to a PR near you!) Going through the changes that are needed for `SetupTools.pm`, I'm trying to figure out how we can be more consistent about how to select elements to be inc

[2015-07-10 22:44] jedwards4b commented on #43
I think that you want Option 3.   Is there anything currently in
config_compilers.xml that could not be expressed this way?

On Fri, Jul 10, 2015 at 4:28 PM, Sean Patrick Santos <
notifications@github.com> wrote:

##

Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2015-07-10 23:00] quantheory commented on #43
I don't think there's an issue. It gets a bit awkward if one variable references another, since that kind of forces one to be declared before the other. But I don't think that it's insurmountable; most of the variables referenced in `config_compilers` are set in the environment, so we can probably work out something for the very few cases where different Macros variables refer to each other.

Also

[2015-07-13 18:46] quantheory commented on #41
Closing due to merge of #42.

[2015-07-13 18:46] #41 closed, assigned to nobody

[2015-07-14 04:14] jedwards4b opened #48 "restart pointer files should be unique"
Currently intermediate restart files cannot easily be used because you need to create rpointer files by hand.

[2015-07-14 18:06] billsacks opened #49 "Wallclock max of 2:00 was dropped in batch refactor"
Before the batch refactor, the *.test scripts on yellowstone had a max wallclock time of 2:00. This was useful, since it resulted in less queue wait time. (Shorter wallclock time is always better in that respect, but on yellowstone there is an additional (unadvertised, I think) factor, which is that a certain number of slots are reserved for jobs of duration 2:00 or less.)

Would there be a way to

[2015-07-14 18:24] billsacks commented on #49
For now I'm working around this by putting the following diff in my sandbox before beginning testing. This is NOT a solution to the problem; I'm just documenting my workaround:

[code]

[2015-07-14 18:25] quantheory commented on #49
In the CAM test driver, for a couple of machines, we have queues and their times hard-coded for certain machines. So for instance, if you set `CAM_BATCHQ=small` on yellowstone, it will shorten the wall clock limit to 2:00 automatically. It might be worth adding something like that to config_batch, just for the convenience of testers if nothing else.

[2015-07-14 18:30] billsacks commented on #49
@quantheory : While that seems like a useful feature, we do not generally want to use the small queue for testing: We generally get quick turnaround with regular (as long as the wallclock limit is 2:00 or less), and small results in higher charges.

[2015-07-15 12:12] billsacks opened #51 "yellowstone_pgi threading runs take a LONG time starting with cime1.1.0"
I noticed that CLM runs on yellowstone with pgi take a much longer time starting with cime1.1.0. I'm not sure why this is. It doesn't seem to be the case for intel. But it seems to be the case for pgi 15.1 as well as pgi 14.7.

Steps to reproduce:

(1) Check out https://svn-ccsm-models.cgd.ucar.edu/clm2/trunk_tags/clm4_5_1_r113

(2) Switch cime to cime1.0.8

(3) Run SMS_P15x2.f10_f10.IHISTCLM45BGC

[2015-07-15 12:13] billsacks commented on #51
cc @mvertens @jedwards4b @ekluzek @bandre-ucar

[2015-07-15 12:14] billsacks commented on #51
The same slow-down appears if using cime1.1.10. My instructions were just meant to demonstrate that the problem appeared in cime1.1.0. I haven't tried cime versions more recent than 1.1.10.

[2015-07-15 17:16] jedwards4b commented on #51
Can you pinpoint the source of the slowdown in the timing files?

[2015-07-15 17:42] billsacks commented on #51
Good point, @jedwards4b . From what I can see, the slowdown seems to be in pieces that require communication - including i/o. So datm sees a particularly marked slow-down, with datm_scatter being a particularly large culprit: this takes about 1000 times longer now. I have put old and new timing files here: /glade/scratch/sacks/timing_files

[2015-07-15 18:50] mnlevy1981 commented on #51
We have a similar slowdown with POP, and it's even noticeable before POP starts running. This is timing from the first few days of a cesm1_4_beta05 / C compset intel run:

[code]

and here's the same using pgi

[code]

I haven't dug deeper into the timing logs to see where the slowdown occurs, but I wanted to add another data point to this issue. The 40x increase in time on day 1 [logged at 010102

[2015-07-15 18:53] jedwards4b commented on #51
I tried this with the alpha06 sandbox:

SMS_P15x2.f10_f10.IHISTCLM45BGC.yellowstone_pgi.clm-monthly

 tStamp_write: model date = 18500102       0 wall clock = 2015-07-15
12:34:58 avg dt =     4.63 dt =     4.63

 tStamp_write: model date = 18500103       0 wall clock = 2015-07-15
12:35:00 avg dt =     3.20 dt =     1.78

 tStamp_write: model date = 18500104       0 wall clock = 2015-07-15
12:35:02

[2015-07-15 19:18] jedwards4b commented on #51
Also not seeing the pop performance issue in the alpha06 sandbox...

 tStamp_write: model date =    10102       0 wall clock = 2015-07-15
13:06:03 avg dt =     0.24 dt =     0.24

 tStamp_write: model date =    10103       0 wall clock = 2015-07-15
13:07:11 avg dt =    33.88 dt =    67.52

 tStamp_write: model date =    10104       0 wall clock = 2015-07-15
13:08:16 avg dt =    44.39 dt =    65.42

[2015-07-15 20:07] billsacks commented on #51
Well, there's something weird going on here. When I update to the latest cime, either in a CLM checkout or using the alpha06 branch, I get wall clock times of about 16 sec, not 2 sec. Granted, this is still better than the 30 sec that I saw before....

Steps to reproduce:

(1) checkout https://svn-ccsm-models.cgd.ucar.edu/cesm1/alphas/branches/cesm1_4_alpha06 (r71733)

(2) blow away cime, do a git

[2015-07-15 20:41] apcraig opened #52 "drof iaf settings"
the drof iaf settings currently have the following settings in the namelist_defaults_drof.xml file,

`<strm_year_align stream="rof.diatren_iaf_rx1">1</strm_year_align>`
`<strm_year_start stream="rof.diatren_iaf_rx1">1948</strm_year_start>`
`<strm_year_end   stream="rof.diatren_iaf_rx1">2009</strm_year_end>`
`<strm_offset     stream="rof.diatren_iaf_rx1">0</strm_offset>`
`<strm_domdir     stream="r

[2015-07-15 21:42] mvertens commented on #52
I agree with the proposed changes.

[2015-07-15 22:28] quantheory opened #53 "BatchMaker queue selection tweak"
Here's a little enhancement request, as a present for @sholly when he gets back.

If I'm reading it right (and I fully admit that this is just based on reading the code rather than actually testing it), this is the current behavior of BatchMaker in `SetQueue`:
1. If there is no "default" queue, die.
2. If there is any queue that defines a jobmin and a jobmax, and the current case falls into that r

[2015-07-15 23:23] mnlevy1981 commented on #51
I ran cesm1_4_beta04 with pgi, and the numbers are about 40% longer per timestep than what [I posted from Intel](https://github.com/CESM-Development/cime/issues/51#issuecomment-121710541) in cesm1_4_beta05:

[code]

Running out of the 1_4_alpha06 tag (in @jedwards4b /work directory) is still significantly slower for me (and takes 3x as long as [Jim's example](https://github.com/CESM-Development/ci

[2015-07-16 00:27] fvitt opened #54 "env_mach_specific environment"
I am having issues with the fortran compiler module not being loaded when cam's configure tries to build the chemistry preprocessor.  It seems that cam's configure does not inherit the environment that is specified in env_mach_specific.  The configure script is invoked by buildnml which is presumably invoked by cesm_setup.  Is the environment in env_mach_specific not set up by cesm_setup?

[2015-07-16 02:31] jedwards4b commented on #54
It should be.  Are you using the cime trunk?  What machine?
On Jul 15, 2015 6:27 PM, "fvitt" notifications@github.com wrote:

[2015-07-16 12:02] billsacks commented on #51
I'm not seeing that Lmod error - unless I'm not looking in the right place.

[2015-07-16 12:04] billsacks commented on #51
To try to see if this is a user environment problem: I just tried blowing away my .profile and using Jim's .bash_profile. This was very disorienting -- and still led to long run times with the SMS_P15x2.f10_f10.IHISTCLM45BGC.yellowstone_pgi.clm-monthly case (dt around 16 sec.).

[2015-07-16 14:12] fvitt commented on #54
I am using trunk tag cime1.0.8 on yellowstone.
I can try the latest trunk tag.

On Wed, Jul 15, 2015 at 8:31 PM, jedwards4b notifications@github.com
wrote:

[2015-07-16 15:11] fvitt commented on #54
I have the same problem with cime1.1.15
The only work around I found is the load the module myself before invoking make:

[code]

[2015-07-16 15:19] jedwards4b commented on #54
Can you tell me how to reproduce this and I'll have a look?   What is the
module list output?

On Thu, Jul 16, 2015 at 9:11 AM, fvitt notifications@github.com wrote:

##

Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2015-07-16 15:39] fvitt commented on #54
the module list seems to be empty
checkout cam branch:
https://svn-ccsm-models.cgd.ucar.edu/cam1/branches/chemproc_cam5_4_01

go to cime/scripts and run test:
create_test -xml_mach yellowstone -xml_compiler pgi -xml_category chemproc -testroot $TMP/chem_preproc_tests -testid chem_preproc

[2015-07-17 12:12] billsacks opened #56 "SSP test treats ref1 case as the main case"
For most tests with a ref case, I believe the standard is to have the "bare" case name be the main case, in which comparisons with baselines (etc.) occur. However, this is reversed for the SSP test.

This lack of consistency is a problem for users of the test, and also for tools that post-process test results, such as baseline_gen_comp.

I propose that the SSP test be reworked to switch the meanin

[2015-07-17 15:00] mvertens commented on #56
I completely agree. This has confused me in the past and I always have to revisit the logic if there are any issues.

[2015-07-17 16:04] fvitt opened #57 "create_test on pleiades"
I get the following error message with create_test on pleiades,  This is tag cime1.1.16

Creating testroot /nobackupp8/fvitt/cime_tests
mkdir /nobackupp8/fvitt/cime_tests
Can't locate object method "getAttribute" via package "XML::LibXML::Text" at create_test line 815.

[2015-07-17 16:30] jedwards4b commented on #57
Version of perl or of XML::LibXML is too old - is there a newer perl
installed as a module?

On Fri, Jul 17, 2015 at 10:04 AM, fvitt notifications@github.com wrote:

##

Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2015-07-17 17:04] fvitt commented on #57
Use of module perl/5.20.1 has fixed the problem.
Thanks.

[2015-07-17 19:20] jedwards4b opened #58 "create_clone"
create_clone needs to update the README.case file in the new case directory with documentation to the effect that the create_clone tool was used in the creation of this case.  (It should just echo the arguments used in the create_clone command)

create_clone should also refer to the cime version number and not try to clone a case created with an incompatible cime version.

[2015-07-17 20:29] jedwards4b opened #59 "system test functionality"
Currently env_run.xml is copied to env_run.orig and then if that backup file exists when you run a test it overwrites the env_run.xml file - it needs to be a little smarter than this - maybe env_run.orig is only a list of the variables that the test script has changed.

[2015-07-20 20:12] jedwards4b opened #60 "preview_namelist -verbose option"
This option should be passed to and used by component scripts called by preview_namelists

[2015-07-20 20:17] mnlevy1981 commented on #60
POP has been using this option to print to screen all variables changed by user_nl_pop settings - is this still the desired behavior of the flag? For example:

[code]

Leads to

[code]

[2015-07-20 20:25] jedwards4b commented on #60
Yes, we should have all components do this...

On Mon, Jul 20, 2015 at 2:17 PM, Michael Levy notifications@github.com
wrote:

##

Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2015-07-20 20:34] ekluzek commented on #60
The verbose option works a bit differently for CLM, but it does give more
verbose output. Changing it to look the same as how POP does it would take
some work. But, we can easily connect it so that if "-verbose" is on in
preview_namelist it will turn it on for CLM build-namelist.

_Erik Kluzek, (CGD at NCAR)_

_National Center for Atmospheric Research_

*Boulder CO, *

_(off) (303)497-1326 (fax) (

[2015-07-20 20:38] bandre-ucar commented on #60
verbose is useful for debugging type output, that normally isn’t desired. Maybe we can create a new option like ‘-user-summary’ or something that prints this info?

[2015-07-20 20:38] mnlevy1981 commented on #60
@ekluzek What does the verbose tag do in CLM? I'm not trying to push POP's approach so much as I just want the behavior to be as uniform as possible across components.

[2015-07-20 20:51] jedwards4b commented on #60
mostly I just noticed that adding the verbose flag to preview_namelists
does not invoke verbose for cam's build-namelist

On Mon, Jul 20, 2015 at 2:38 PM, Michael Levy notifications@github.com
wrote:

##

Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2015-07-24 20:29] jedwards4b commented on #29
Addressed by pull request #63

[2015-07-24 20:29] #29 closed, assigned to nobody

[2015-07-28 18:33] quantheory opened #65 "Possible shr_scam_getCloseLatLon issue"
This issue from [Bugzilla](http://bugs.cgd.ucar.edu/show_bug.cgi?id=1065) seems to be a low priority, but still valid. Tony's description:

[2015-07-28 19:09] quantheory opened #66 "shr_orb_cosz accuracy issue"
From [Bugzilla](http://bugs.cgd.ucar.edu/show_bug.cgi?id=1288), I note an old bug that Nancy Norton filed. The proposal was to work around machine-specific issues that cause a loss of accuracy in `shr_orb_cosz`. Specifically, the expression `cos(jday*2.0_SHR_KIND_R8*pi + lon)` would be replaced by `cos((jday-floor(jday))*2.0_SHR_KIND_r8*pi + lon)`.

[2015-07-28 19:19] quantheory opened #67 "INFO_DBUG/info_debug documentation"
From [Bugzilla](http://bugs.cgd.ucar.edu/show_bug.cgi?id=1182) I noticed a bug that mentioned that changing the value of this variable from 1 to 2 did not seem to produce any additional output when running the model. In fact, aside from being passed around to various places, I can't see any place where it is used at all.

Perhaps it should be removed. Even if we do want to resurrect this as a verb

[2015-07-28 19:26] quantheory opened #68 "What is `-pecount`?"
As noted on [Bugzilla](http://bugs.cgd.ucar.edu/show_bug.cgi?id=1086), the documentation is a little vague. Actually, it's not clear to me how we should view this, anyway. I think that most of the use for this is in automated testing, and I'm not sure that you actually reliably get enough out of this option that a regular user would actually want it...

[2015-07-28 19:29] apcraig commented on #67
INFO_DBUG still does work and is critical for many of us that develop, are checking bit-for-bit between runs, and want to diagnose where bit-for-bit diverges, whether in exact restart or elsewhere.

There is a problem in the current implementation where a test will reset the INFO_DBUG under the covers in test mode.  I have reported this problem elsewhere.  I still believe there is benefit to havin

[2015-07-28 19:45] quantheory commented on #67
Oh, I see. I was somehow missing cesm_comp_mod in my grep, which is almost the only place where this value is actually checked. I suppose that it has never been particularly relevant to me, because the CAM logs (and instantaneous history outputs) are much better for figuring out where CAM runs diverge...

It does seem that the `INFO_DBUG` documentation is incorrect (and somewhat vague). The only c

[2015-07-28 19:48] apcraig commented on #67
The env variable INFO_DBUG gets translated into info_debug in the driver namelist and then plays a large role in the driver/coupler about what and how things get diagnosed.  There also may be other components that use the INFO_DBUG value to set some namelist.  INFO_DBUG of 1 and 2 are the main values used.  I don't believe 3 adds any other information beyond 2 and 0 also may not do anything differ

[2015-07-28 19:57] quantheory commented on #67
Ah, OK. It looks like POP also checks for `$INFO_DBUG > 1`, though no other component seems to.

I guess my point is simply that if there's no plans to do that right now, the documentation should probably be adjusted to simply suggest using values `1` or `2`. Unless this is something that you want to encourage more of the components to use?

(I still think that `INFO_DBUG`, compared to `INFO_DEBUG

[2015-07-28 20:05] apcraig commented on #67
I don't disagree that INFO_DBUG isn't the best name.  But I also don't think there is any reason to change it at this point.  It has existed for over a decade and people are used to it.

[2015-07-29 20:22] bertinia opened #69 "adding back tag version information into env_run.xml"
Prior to introducing CIME, the CCSM_REPOTAG env var was written to the env_run.xml file by
create_newcase. With CIME, the default settings in env_run.xml are now:

env_run.xml: entry id="CIME_REPOTAG"   value="UNSET"
env_run.xml: entry id="CCSM_REPOTAG"   value=""

Any objections to adding code in create_newcase to query SVN and parsing the SVN_EXTERNALS_DIRECTORIES to retrieve this info? Is there

[2015-07-29 21:33] bandre-ucar commented on #69
I think we need to distinguish between the repo tags the case was created from and the current state of the repos. Those variables should probably be CIME_INITIAL_REPO_TAG and CESM_INITIAL_REPO_TAG.

The code can be different between the initial tag and what was actually used for a run. It would be great if every time a build or run script was executed it would append the results of {git | svn} st

[2015-07-29 21:52] quantheory opened #70 "Use transient aerosol file for DATM_PRESAERO=clim_2000 conditions"
I'm simply copying an issue that Erik opened on GitHub. The settings mentioned below are obviously not in this file anymore (since `datm.cpl7.template` doesn't even exist anymore), but the options mentioned in this issue are still in the datm namelist defaults XML file, and still seem to have the old values.

[code]

[2015-07-29 22:00] quantheory opened #71 "Running preview_namelists before cesm_setup give a slightly strange error message"
Inspired by a bug filed by Jim forever ago. The current error message is:

[code]

We should probably check that `cesm_setup` has been run before `preview_namelists` tries to actually do anything. I'm not sure what the standard way of doing that would be. Checking that the `user_nl_*` files exist? Checking if `LockedFiles/env_mach_pes.xml.locked` exists?

[2015-07-29 22:27] quantheory opened #72 "Tab characters should be removed from strings in streams files"
From a Bugzilla issue from Bill Sacks:

A user ran into a problem when editing a streams file (`dlnd.streams.txt.sno.cplhist`): there were some tab characters in the file both before and after some strings. It looks like these tab characters are not stripped from the strings (e.g., using `shr_string_leftAlign`). This led to an error that looked like this in the lnd log file:

[code]

Since tabbing

[2015-07-29 22:46] quantheory opened #73 "CaseStatus file with create_clone"
From an old Bugzilla issue from Nancy Norton:

I'm not sure if this is still the case, but I didn't see any special handling of CaseStatus, so I presume that it's still just copied. It might be good to at least separate the lines from the old case from the ones in the clone, even if we keep the old CaseStatus information.

[2015-07-29 23:07] quantheory opened #74 "possible bug in shr_cal_mod.F90"
Another old bug from Bugzilla. It's easiest just to look at the original report:

http://bugs.cgd.ucar.edu/show_bug.cgi?id=1649

I'm not sure what that was about, but maybe Tony knows.

[2015-07-29 23:10] bandre-ucar commented on #73
I find having the old case status info useful. I'd prefer to just have clear delimiter between the old and new info.

[2015-07-29 23:12] quantheory opened #75 "Bug in Calendar?"
I don't know for sure if this was fixed or not. A 2013 bug report from Xujun Han, via Erik on Bugzilla:

[code]

[2015-07-29 23:37] quantheory opened #76 "creating a case with -user_compset fails to set CCSM_LCOMPSET, causing other problems"
Not sure if this issue from Bill Sacks was ever fixed, but I'm moving it off of Bugzilla:

[code]

[2015-07-29 23:56] quantheory opened #77 "Change CPLHIST streams into: nonSolarFlux, State, and SolarFlux (make consistent between ocn and lnd)"
From Erik via Bugzilla:

http://bugs.cgd.ucar.edu/show_bug.cgi?id=2080

[2015-07-29 23:58] quantheory opened #78 "Add DIN_LOC_ROOT_CPLHIST for location of coupler history data for spinup"
From Bugzilla, from Erik:

http://bugs.cgd.ucar.edu/show_bug.cgi?id=2087

[2015-07-30 00:01] quantheory opened #79 "shr_file_mod has format errors which cause error messages to cause I/O errors"
From Steve/Bugzilla:

[code]

[2015-07-30 00:09] quantheory opened #80 "Resolve environment variable references in env_*.xml files"
Tony [reported some time ago](http://bugs.cgd.ucar.edu/show_bug.cgi?id=1778) that it is not possible to use arbitrary system-defined environment variables, e.g. `$WORKDIR`, in scripts directories such as `EXEROOT` and `RUNDIR`.

Assuming that this is still the case (I haven't checked, but I think it is), it would be nice to improve that situation.

[2015-07-30 00:37] quantheory opened #81 "Check on coupling frequencies"
Tony [proposed some time ago](http://bugs.cgd.ucar.edu/show_bug.cgi?id=1740) that the following checks be added to the coupler, to ensure that the various NCPL variables are set in a consistent way:

ATM_NCPL >= ROF_NCPL
ATM_NCPL >= OCN_NCPL

[2015-07-30 00:50] quantheory opened #82 "long term archiver steps on short term archiver files with HSI command"
I'm not clear on whether or not this is still a problem given the batch refactoring, but if it's not, I'm curious what prevents the short and long term archivers from interfering with each other. Or for that matter, what prevents two short term archiving jobs from interfering with each other, or two long term archiving jobs.

This is the issue filed by Nancy Collins on Bugzilla:

[2015-07-30 16:38] quantheory opened #83 "Set MP_INFOLEVEL differently on yellowstone by default?"
See the following bug from Nancy Collins, mentioning the spam that we tend to see in the CESM log:

http://bugs.cgd.ucar.edu/show_bug.cgi?id=1756

My first comment there notwithstanding, it turns out that we actually _can_ do something different for yellowstone, namely to set `$MP_INFOLEVEL` to 1 (the default) or 0 (quiet) rather than our current setting of 2 (verbose). That gets rid of almost all

[2015-07-30 17:09] quantheory commented on #67
I think that unusual abbreviations like `INFO_DBUG` tend to make the interface seem jargony and slapdash, not to mention that there's the potential for mixups coming from the fact that the coupler namelist variable is called `info_debug`, just one character off. So I would say that those are all good reasons to change the name.

If it has been around for a decade and is still highly useful, then I

[2015-07-30 23:33] billsacks opened #84 "Comparison of history files in _N2 tests looks buggy"
In component_compare_test.sh, the _N2 comparison looks like this:

[code]

Notice that the second comparison compares hist2_0002 with itself, and for the first comparison, the print_status does not match what is actually being compared. It's not clear to me what the intended behavior is here, but the current behavior does not look correct.

Note that there were also some typos in the file checks i

[2015-07-31 18:20] billsacks opened #85 "Some tests generate file names that exceed max length"
Some tests with long test names generate component history files with file names that exceed the max length allowed by that component. Instead of causing a failure, components create history files with truncated names. This means that the relevant history files are not compared by the test system.

Here are some examples:

SMS_D_Ld5.T31_g37_gl20.BG1850C5L45BGCIS2.yellowstone_intel.allactive-cism-t

[2015-07-31 18:21] billsacks commented on #85
cc'ing @mvertens @sholly @bandre-ucar @ekluzek @mnlevy1981

[2015-07-31 20:32] quantheory commented on #85
Note that as of NAG 6, we should be able to put allocatables in the namelist for all compilers. (Might want to double-check that, though.) This will probably require two namelist groups to read, though, one to specify the string length so that you can allocate, and the other to actually read in the string into the allocated variable.

Also, if you wanted to CC the model liaisons, @brian-eaton is n

[2015-07-31 20:40] billsacks commented on #85
Thanks, @quantheory : I remembered there being some issue with this before, and couldn't remember what, so thanks for the reminder. I didn't include @brian-eaton because, at least for the test where I found the issue, CAM could handle long-enough history file names. I guess that an even longer case name would cause it problems, but for now CLM, POP and RTM seem to be the main culprits.

[2015-08-03 22:50] quantheory commented on #26
Due to recent merges, including #87, I'm going to close this. There are some rough edges here, but I think that we can add them as individual issues, rather than this broader one.

[2015-08-03 22:50] #26 closed, assigned to nobody

[2015-08-04 16:47] quantheory opened #89 "Batch script stdout no longer prints the path to cpl/cesm log file on failure"
As of beta06 (with updated CIME and CAM tags), if I have a CESM run crash (e.g. by segfaulting), I'm no longer seeing a message printing whether the run failed, with the log file location. The last stdout message is simply:

[code]

(To make this message easier to find, it should be in stdout rather than stderr I think, but for the record there's nothing printed to stderr, either.)

I see that the

[2015-08-04 16:58] quantheory opened #90 "Simple namelist settings to turn on changes for data assimilation"
See the bugzilla bug here:

http://bugs.cgd.ucar.edu/show_bug.cgi?id=1804

Specifically:

I'm putting this here in the CIME repo because the original proposal was to have a `DART_MODE` option in the scripts to flip this on for every component, but it's not clear to me whether or not this still involves CIME, as opposed to the various science models.

[2015-08-04 17:05] quantheory opened #91 "Stricter DEBUG checks when using GCC"
This is an extension of the issue here:

http://bugs.cgd.ucar.edu/show_bug.cgi?id=1773

Right now we really don't have any of the major run-time checks turned on for GNU compilers. We should probably use an option such as `-fcheck=all`. (This prints unnecessary creation of array temporary warnings, but unlike Intel's equivalent option, it should only print once per code location, so it shouldn't p

[2015-08-04 17:06] billsacks opened #92 "Get some unit testing defaults from config_machines"
With the changes here:

https://github.com/CESM-Development/cime/pull/87

a number of machine-specific settings need to be explicitly specified when running run_tests.py; these should be obtained from config_machines:
- mpilib
- maybe the mpirun command
- maybe the default compiler for a machine

@quantheory suggested this; he and @jedwards4b seem like the ones who would know how to do this.

[2015-08-04 17:09] bandre-ucar commented on #89
I've had the same problem with segfaults not showing up in the log correctly. For what it's worth, my branch is based off of version d1b03ad (not blaming Bill, just demonstrating that the the problem goes back at least to mid-June).

It would be nice if the error message was dumped to both stdout and stderr.

[2015-08-04 17:15] quantheory opened #93 "Inaccurate shr_dmodel_mod code for grids in SCAM that are not purely lat/lon"
From Bugzilla, with a proposed fix:

http://bugs.cgd.ucar.edu/show_bug.cgi?id=1951

See also #65.

[2015-08-04 17:22] quantheory opened #94 "datm strm_datadir path inconsistency"
From Bugzilla:

http://bugs.cgd.ucar.edu/show_bug.cgi?id=2028

[2015-08-04 17:54] quantheory opened #95 "Allow 20TR simulations to easily cycle through "precursor" data"
From Bugzilla:

http://bugs.cgd.ucar.edu/show_bug.cgi?id=2034

Note particularly:

[2015-08-04 17:58] quantheory opened #96 "Make csm_share's include/lib directories discoverable outside of the CESM Makefile"
From Bugzilla:

http://bugs.cgd.ucar.edu/show_bug.cgi?id=2052

Apparently, MPAS's build needs to know where the csm_share include/lib directories are, presumably via environment variable.

[2015-08-04 18:03] quantheory opened #97 "Better validation of longnames for `-user_compset` cases"
From [Bugzilla](http://bugs.cgd.ucar.edu/show_bug.cgi?id=2075):

[2015-08-04 18:05] quantheory opened #98 "Changes to save aerosols for MOAR forcing cases"
From Bugzilla:

http://bugs.cgd.ucar.edu/show_bug.cgi?id=2078

[2015-08-04 18:06] quantheory opened #99 "Add CPLHIST option to prescribed aerosol mode in datm"
From Bugzilla:

http://bugs.cgd.ucar.edu/show_bug.cgi?id=2076

[2015-08-04 18:32] quantheory opened #100 "Phase out shr_map_checkRad"
Note the Bugzilla bug:

http://bugs.cgd.ucar.edu/show_bug.cgi?id=2102

To summarize, `shr_map_mod` has a function called `shr_map_checkRad`, which attempts to figure out whether an array of angles is in degrees or radians by testing whether the maximum and minimum values in the array are separated by greater than 2.02 \* pi. Setting aside the fact that attempting to "guess" the units on a variable

[2015-08-04 18:41] quantheory opened #101 "Add CPLHIST option to drof"
From Bugzilla:

http://bugs.cgd.ucar.edu/show_bug.cgi?id=2108

[2015-08-04 18:44] quantheory opened #102 "Use the data file for drof as the domain file, rather than a separate domain file"
See Bugzilla:

http://bugs.cgd.ucar.edu/show_bug.cgi?id=2113

[2015-08-04 18:47] quantheory opened #103 "Data model code checks for fillalgo=='none', but this is not a valid value in the namelists."
From Bugzilla:

http://bugs.cgd.ucar.edu/show_bug.cgi?id=2114

It's not clear to me at first glance whether the solution is to add it as an allowed namelist option, or to remove the Fortran code that handles this case.

[2015-08-04 18:49] quantheory opened #104 "Precipitation anomaly forcing and bias correction operates on a block of variables rather than testing each one seperatly"
From Bugzilla:

http://bugs.cgd.ucar.edu/show_bug.cgi?id=2115

[2015-08-04 18:53] quantheory opened #105 "Data models should check SourceMods for namelist_default/namelist_definition files"
It appears that the data models don't check SourceMods for overrides of namelist_defaults_d*.xml or namelist_definition_d*.xml anymore (if this ever worked in the first place). Some users would like this ability.

[2015-08-04 19:15] quantheory opened #107 "st_archive needs to only save one copy of restart files"
From Alice via [Bugzilla](http://bugs.cgd.ucar.edu/show_bug.cgi?id=2132):

[code]

[2015-08-04 19:30] jedwards4b commented on #96
I think that this is related to the desire to separate csm_share into
fortran utility libraries and cesm specific library and
will be addressed by that change - is there a ticket for that?

On Tue, Aug 4, 2015 at 11:58 AM, Sean Patrick Santos <
notifications@github.com> wrote:

##

Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2015-08-04 19:31] quantheory opened #108 "Fix namelist settings for aquaplanet runs"
From Bugzilla:

http://bugs.cgd.ucar.edu/show_bug.cgi?id=2133

The description in the report is not totally right (e.g. I'm not sure that cpl.buildnml is the right place for these changes), but the gist is that for aquaplanet runs:
1. We need to use fixed orbital parameters, all set to 0.
2. The setting of `aqua_planet_sst`/`sst_option` needs to work.
3. `CCSM_CO2_PPMV` needs to be set to 348.

[2015-08-04 19:34] quantheory commented on #96
It's #18.

[2015-08-04 19:36] jedwards4b commented on #108
I think that this may be resolved by #64

On Tue, Aug 4, 2015 at 1:31 PM, Sean Patrick Santos <
notifications@github.com> wrote:

##

Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2015-08-04 19:42] quantheory opened #109 "env_*.xml files should be enumerated, not globbed"
Right now, if you create backup or reference copies of your xml files within your case directory, they can easily be picked up by various scripts (and may not be consistent), if they have names like:

[code]

This has bitten a few people, and there's also a [Bugzilla](http://bugs.cgd.ucar.edu/show_bug.cgi?id=2162) ticket on this. Typically what will happen depends on which command you are running,

[2015-08-04 19:44] quantheory commented on #108
No, #64 is actually about what effect the namelist parameters have after being read in. This bug has more to do with the fact that the namelists are not set in the expected way for aquaplanet runs in the first place.

[2015-08-04 20:00] quantheory opened #110 "Allow "additive" SourceMods for modifying data model streams"
See Bugzilla:

http://bugs.cgd.ucar.edu/show_bug.cgi?id=1856

There's a lot of discussion there, but the gist seems to be that it would be nice to not only allow namelist_defaults_datm.xml to be replaced in SourceMods, but for a file to be added that doesn't require replacing the entire file that's in the source tree. (And similarly for other data models.)

[2015-08-04 20:03] quantheory opened #111 "History output updated in archive.locked, not in archive"
From [Bugzilla](http://bugs.cgd.ucar.edu/show_bug.cgi?id=2033):

[code]

[2015-08-04 20:06] quantheory opened #112 "Incorrect comment lines in env_run.xml for DATM variables"
From [Bugzilla](http://bugs.cgd.ucar.edu/show_bug.cgi?id=2195):

[2015-08-05 03:12] bandre-ucar opened #113 "ERP test doesn't fail soon enough if user runs case.build instead of case.test_build"
Unlike some of the other tests where one can run $CASE.build and get away with it, the ERP test requires that the user run $CASE.test_build. The error doesn't get caught until the job is running, and is reported in the cesm.stdout.xxxxx file. The length of time between the source of the error and the reporting of the error, along with the report location confused a very advanced user.

When the te

[2015-08-05 13:16] billsacks opened #114 "cime1.1.12 breaks a CLM test"
cime1.1.12 breaks this CLM test: ERS_D_Mmpi-serial_Ld5.1x1_brazil.ICLM45ED.yellowstone_gnu.clm-edTest

Steps to reproduce:

(1) checkout https://svn-ccsm-models.cgd.ucar.edu/clm2/trunk_tags/clm4_5_1_r117

notice that cime is at cime1.1.11

(2) run the above test

notice that it runs to completion, although the restart test fails (this is a long-standing problem)

(3) switch to cime1.1.12 and rerun

[2015-08-05 16:05] billsacks opened #115 "CME tests fail intermittently"
The recent clean_build changes still break the build of some CME tests. I haven't been able to figure out exactly when this is broken and when it isn't, but it seems to just be an issue when creating a test suite (as opposed to a single test).

Steps to reproduce:

(1) Check out clm4_5_1_r117

(2) Switch cime to point to cime1.1.20

(3) create_test -xml_category aux_clm40 -xml_mach yellowstone -xm

[2015-08-05 16:05] billsacks commented on #115
cc'ing @sholly @mvertens @bandre-ucar @ekluzek on this

[2015-08-05 19:02] billsacks opened #116 "NCK tests fail intermittently"
I have noticed that NCK tests fail intermittently when they are run as part of a test suite.

In particular: The second run (which is supposed to be a two-instance run) runs with only a single instance. Oddly, though, its output files have suffixes of _0001 - so it is in some hybrid state between a 1-instance run and a 2-instance run.

This is hard to reproduce consistently, which makes me suspect

[2015-08-05 19:03] billsacks commented on #116
cc'ing @jedwards4b @sholly @mvertens @ekluzek @bandre-ucar

[2015-08-05 19:03] billsacks commented on #116
The ideal resolution in my mind would be to make the number of instances a runtime parameter rather than compile-time. However, I don't know if that's feasible.

[2015-08-05 19:05] jedwards4b commented on #114
The attached clm patch solves the problem.

On Wed, Aug 5, 2015 at 7:16 AM, Bill Sacks notifications@github.com wrote:

##

Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2015-08-05 19:19] billsacks commented on #114
Thank you for tracking this down, Jim! And sorry to have wrongly assigned it to you. I am closing this and moving it to a CLM bug.

[2015-08-05 19:19] #114 closed, assigned to jedwards4b

[2015-08-05 21:48] billsacks commented on #115
@jedwards4b pointed out that this problem may be dependent on the test order, similar to https://github.com/CESM-Development/cime/issues/116. And indeed, I see that the passing vs. failing tests were in test suites where the tests were run in different orders, with different tests being built both before and after the CME test in question.

[2015-08-05 22:02] billsacks commented on #116
The specific failure for the NCK test is:

[code]

[2015-08-06 01:48] brian-eaton commented on #108
Sean is correct.  #64 is orthogonal to this.
1.  When aquaplanet runs from CAM standalone CAM is responsible for setting the orbital parameters which it does via its use case file.  When running from CESM scripts whoever is responsible for the seq_infodata_inparm group needs to do this.
2. In CAM standalone the configure script adds the appropriate filepaths to build the ocean component that speci

[2015-08-06 18:45] mvertens commented on #97
This will be resolved in the upcoming scripts refactor.

[2015-08-11 04:27] mnlevy1981 commented on #85
I made a new POP tag that increases the default string length from 256 to 384 (POP tag 20150810, on the plans page from cesm1_4_alpha07b) and the extra 128 characters fixed the issue with the pop.dd files. This is a pretty kludgy fix - a better option would be to switch from `char_len` to `char_len_long` (which is 512) for strings that contain file names because then we could leave `char_len` set

[2015-08-11 04:59] gold2718 opened #119 "env_mach_specific.logan is outdated"
Compilers are way out of date (and probably other issues as well).
Is this a supported machine? If so, can it get fixed?
If this is not a supported machine, we should remove it from cime/machines

[2015-08-11 12:04] sholly commented on #119
I'll update it today..
On Aug 10, 2015 10:59 PM, "goldy" notifications@github.com wrote:

[2015-08-11 22:51] quantheory commented on #108
Finally noticed this comment. Currently, `CCSM_CO2_PPMV` always needs to be set in CIME, and moreover it needs to be set to the correct value, because it is put in through the `-infile` argument, which takes precedence over the `-use_case` file.

More generally, CIME is the dictator not only over the coupler settings, but for `dtime`, `start_ymd`, and `co2vmr`. Any defaults for these set in CAM us

[2015-08-12 02:54] brian-eaton commented on #108
This is a very old feature of the scripts which should be refactored.  For many (most?) compsets a single co2vmr value is insufficient information and CAM is ignoring this setting and getting values from datasets.  It would be better if CCSM_CO2_PPMV were only set when it is actually needed.  To be honest I'm not sure exactly when it is needed.  Certainly when CAM is an active component the other

[2015-08-12 17:04] jedwards4b commented on #115
I believe that this is resolved in cime2.0.4

[2015-08-12 18:27] quantheory commented on #108
Granted. Looking at this, I think that CCSM_CO2_PPMV should be removed entirely, and I'll open a separate issue for that.

[2015-08-12 18:43] ekluzek commented on #108
The current situation is bad with CCSM_CO2_PPMV, since it sometimes just
causes confusion. And it seems better that when CAM is being used, that we
just do what CAM tells us to do. Also note that WACCM compsets, set it to a
very small value with the idea that the model will abort with bad behavior
if it's actually used instead of something from inside of CAM. But, this
doesn't guarantee that it wi

[2015-08-12 19:16] quantheory opened #121 "Remove CCSM_CO2_PPMV"
There are some problems with `CCSM_CO2_PPMV` as it stands now:
1. It apparently doesn't do anything for many CLM/CAM compsets, or for any compsets without CLM. For transient runs, the CO2 isn't constant, regardless of configuration. For runs using BGC BPRP/BDRD, WACCM, or some CAM-CHEM compsets, the model chemistry is producing non-constant CO2 concentrations, and there is also typically some time

[2015-08-12 19:24] quantheory commented on #108
I've moved the CO2 refactoring discussion to #121, so as not to mix it up too much with the aquaplanet issues here.

Aside from the S compset, which is presumably just for testing, only the TG compsets use SATM, so I CC'ed Bill on the other bug. But it looks to me like `CCSM_CO2_PPMV` is not used by DLND or CISM for those compsets, so this is probably a non-issue for SATM cases.

[2015-08-12 19:37] brian-eaton commented on #121
I assume that cam.buildnml can deal with the backwards compatibility issue by simply checking whether or not CCSM_CO2_PPMV has been defined before trying to put it into the cam namelist.  But I don't know what the xmlquery behavior is when the name being queried isn't defined.

[2015-08-12 19:49] ekluzek commented on #121
Hi Brian

xmlquery die's with an error that the given field is not defined. So you
could check the status, or check for the error..

ERROR: id JUNK NOT a valid name in the config_definition file

_Erik Kluzek, (CGD at NCAR)_

_National Center for Atmospheric Research_

*Boulder CO, *

_(off) (303)497-1326 (fax) (303)497-1348_

_(skype) ekluzek    (cell) (303)859-0183_

_Pronouns: he/his/him_

_---

[2015-08-12 19:52] quantheory commented on #121
Checking the `xmlquery` return status/message could deal with the backwards compatibility issue without having to change CAM, CLM, and CIME at the exact same time. However, we still want to bump the major version number for CIME for this, because the components still have to change first to work with the change to CIME.

[2015-08-12 20:46] jedwards4b commented on #116
I have not been able to reproduce this failure, closing this item.

[2015-08-14 15:51] jedwards4b opened #124 "create_clone keep_exe feature"
create_clone should include an option so that the clone will use the case executable.   This is a useful shortcut for ensemble experiments.

[2015-08-19 17:04] jedwards4b opened #126 "mpilib in config_machines.xml"
We need to be able to specify options to the mpiexec command based on the mpilib.

For example on hobart when I use the nag/openmpi combination I would like to add the
--tag-output option and when I use the intel/mvapich2 combination I would like -prepend-rank

[2015-08-20 20:51] billsacks opened #129 "-project argument to create_newcase not honored after batch refactor"
Since the batch system refactor, the '-project' argument to create_newcase is not honored.

This can be seen by creating a case on yellowstone when you do NOT have a $PROJECT or $ACCOUNT environment variable set, and do NOT have either ~/.cesm_proj or ~/.ccsm_proj files. In this case, the PROJECT env_case.xml variable is set correctly, but it is not propagated to the batch commands in the run scri

[2015-08-24 17:22] mvertens commented on #121
proposal:
cam and datm will always send 2d CO2 information to all the components.
the components should recognize that 2d information is coming in and adjust accordingly
the constant option will need to be removed
first step - remove this from env_run.xml
this will impact pop, clm and cice

[2015-08-24 18:20] billsacks commented on #116
From the CSEG meeting today, it sounds like this issue remains for multi-instance and ESMF tests. So I am reopening it, partly so we can keep track of it for the sake of CLM testing.

[2015-08-24 18:35] billsacks opened #132 "single-core yellowstone jobs not put on caldera"
With a recent version of cime (observed with cime2.0.3 in cesm1_4_alpha07a), I notice that single-core yellowstone jobs are being assigned to the regular queue rather than caldera.

It looks like the appropriate logic is attempted in config_machines.xml:

[code]

but for whatever reason, this isn't being applied. Maybe a later setting overrides this one?

This is a small issue for testing, and a l

[2015-08-24 18:35] billsacks commented on #132
cc @jedwards4b

[2015-08-24 20:57] billsacks commented on #49
Until this can be fixed in a more robust way: Would it be possible to change the yellowstone entries so that we just always get a 2:00 wall-clock time? I think that will significantly improve the turnaround time for test suites.

[2015-08-24 20:58] billsacks commented on #49
cc'ing @bandre-ucar @ekluzek @mvertens

[2015-08-24 22:15] apcraig commented on #126
There is also the case where different mpilib options require different launch commands completely.  On an SGI ICEX I've been using, there are two options,

intel mpi with mpirun
sgi mpt with mpiexec_mpt

[2015-08-24 22:25] bandre-ucar commented on #49
This drastically limits how quickly tests get through the queue. Can we bump the priority up to critical?

[2015-08-25 22:41] quantheory opened #135 "Wrong mpirun selection for certain cases"
On yellowstone, threaded cases are being launched with the `launch` rather than the `hybrid_launch` version of the `mpirun.lsf`command. This is a serious performance regression for CAM on yellowstone in recent beta tags. (Chris Fischer reports 10-50% slowdown for various cases, worse for WACCM/WACCM-X than for vanilla CAM.)

The wrong selection is probably due to bad logic in [`BatchMaker.pm`](htt

[2015-08-26 18:30] billsacks opened #136 "manage_testlists should allow aggregating across all components"
I find it hard to use manage_testlists to view the prealpha and prebeta test lists, because you need to specify a -component. It feels like manage_testlists should loop over all components if none is given, just as (I think) create_test does.

[2015-08-26 18:31] billsacks commented on #136
cc'ing @mvertens

[2015-08-27 23:00] billsacks opened #142 "short-term archive script uses same number of processors as run"
I noticed that, in a recent version of cime (2.0.7, I think), the short-term archive script was set up to use the same number of processors as the run, rather than just using a single processor. I'm not sure if this is a known issue...?

[2015-08-27 23:00] billsacks commented on #142
cc @bertinia @jedwards4b @mvertens

[2015-08-28 18:29] gold2718 opened #144 "cprnc does not FAIL if fields are missing"
While cprnc notes if fields cannot be compared, it does not FAIL a comparison if a field (NetCDF variable) goes missing. I can see allowing a new field but if we delete a field, should that count as an answer change? If not cprnc itself, then should a comparison test FAIL in this case?

[2015-08-28 18:49] quantheory commented on #144
I think that adding a variable and deleting a variable should both be considered FAIL. Adding a field can also be a mistake, albeit one that's _usually_ less bad than accidentally removing a field.

Plus, if only deleting a variable was considered to FAIL, we would lose symmetry. It would be counter-intuitive if tag A failed baseline tests against tag B, but tag B passed baseline tests against tag

[2015-08-28 21:08] jedwards4b commented on #27
In particular it would be good if tests were tuned to walltime suitable for that particular test on that machine.

[2015-08-28 21:13] quantheory commented on #27
I agree. However, I suppose that means that the run script header has to be regenerated every time (or we have to put the clock time and queue into `qsub`/`bsub`/whatever arguments instead of the header). Also editing that script will have no effect because changes will be overridden. If we do this, we should probably also move the run script to Buildconf or something, so that it doesn't look like

[2015-08-28 21:24] quantheory commented on #129
I'm closing this issue under the presumption that #140 has fixed it.

[2015-08-28 21:24] #129 closed, assigned to sholly

[2015-08-28 21:24] quantheory commented on #135
Closing as fixed by #140.

[2015-08-28 21:24] #135 closed, assigned to sholly

[2015-08-28 21:58] jedwards4b commented on #27
The wallclock time for tests are set in the test script which is different than the run script, I think that this is the case on all machines except mira.

[2015-08-29 16:31] bandre-ucar commented on #116
It sounds like the same problem occurs in clm4_5_1_r120, using cime2.0.7.

Without diving into the MCT, it looks like a compile time and runitme arg don't agree?

  12:MCT::m_Rearranger::Rearrange_: SourceAV size is not appropriate for this Re
arranger
  12:MCT::m_Rearranger::Rearrange_: error, InRearranger%SendRouter%lAvsize=6695,
 AttrVect_lsize(SourceAV)=0.
  12:00C.MCT(MPEU)::die.: from MCT::m

[2015-08-29 18:05] bandre-ucar commented on #115
I'm getting an intermittent ESMF compilation problem in clm4_5_1_r120, cime-2.0.7. CME_Ly4.f10_f10.I1850CLM45BGC.yellowstone_intel.clm-monthly CFAILs when run as part of the test suite, but is fine when built and run standalone. It appears to be the same race condition described above....? Here's some of the compiler errors from a test suite run:

[code]

[2015-08-29 18:48] ekluzek commented on #115
I had the same issue with clm4_5_1_r119 which was using cime2.0.7

[2015-08-29 18:50] ekluzek commented on #116
I had this same problem with clm4_5_1_r119. The tests worked, after cleaning the build, rebuilding and resubmitting.

[2015-08-30 10:59] billsacks commented on #115
Reopening, since this appears to still be a problem.

[2015-08-30 13:42] jedwards4b commented on #115
There is a problem in the shared build when you are running a test suite, but why do you link this to the clean_build script?

[2015-08-30 20:35] billsacks commented on #115
@jedwards4b is correct that the title of this bug report is likely wrong, so I'm renaming it from "Recent clean_build changes still break some CME tests" to "CME tests fail intermittently". I think it's worth keeping the bug open, though, until the problem is resolved.

[2015-08-31 12:36] billsacks commented on #22
Another problem with the "RUN" status was raised recently by Sean Swenson: If you simply grep for FAIL in the test results (which seems like a reasonable thing to do, intuitively), you miss many failures. So at the very least the status should be changed to something like RUNFAIL.

[2015-08-31 12:45] billsacks opened #146 "Refactor system test scripts to make it easy to add new tests"
There is currently a lot of duplication between the different system test scripts (the scripts in Testcases). I know there are plans to rewrite these in perl or python, and my thoughts can (and should!) wait until that is done. But I wanted to create this issue now, as a place to record thoughts about how these should be refactored.

At a broad level, I can see two possible approaches; I give exam

[2015-08-31 12:45] billsacks commented on #146
cc @sholly @mvertens

[2015-09-01 19:11] dabail10 opened #147 "cesm2_init"
We need to start a new inputdata area called cesm2_init for new reference cases. The CICE5 initial file format is different from the CICE4 format. This will be an area with only CICE5 initial files moving forward.

Dave

[2015-09-01 20:16] jedwards4b commented on #115
I think that this is fixed by #148, we will need a full round of beta testing to see.

[2015-09-03 16:35] #142 closed, assigned to sholly

[2015-09-03 17:09] quantheory opened #151 "There is no good MP_EAGER_LIMIT setting on yellowstone"
I noticed in this commit that `MP_EAGER_LIMIT` is being set to 0 again to deal with a memory leak:

https://github.com/CESM-Development/cime/commit/bbf48ef57f6b4139502d48ed46347623de114d4e

However, the reason that we stopped setting it is that Francis and I found that it made a big difference for the performance of WACCM runs at medium-to-high core counts. Setting `MP_EAGER_LIMIT` to 0 slows thin

[2015-09-03 17:22] jedwards4b commented on #151
I think that we need to leave this in as the default and change it on a
case by case basis when it's clear that the particular case is not leaking
memory.   IBM dropped support of the poe/mpich library we are using and it
is highly unlikely that we will get any satisfactory resolution from them.

On Thu, Sep 3, 2015 at 11:09 AM, Sean Patrick Santos <
notifications@github.com> wrote:

##

Jim Edwar

[2015-09-03 17:23] bandre-ucar commented on #151
Is there a reason we aren't using a supported mpich library...?

On Thu, Sep 3, 2015 at 11:22 AM, jedwards4b notifications@github.com
wrote:

[2015-09-03 17:30] jedwards4b commented on #151
Because there isn't one.  That is a question for CISL and IBM and in my
opinion not worth pursuing.

On Thu, Sep 3, 2015 at 11:23 AM, Ben Andre notifications@github.com wrote:

##

Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2015-09-03 17:35] ekluzek opened #152 "RESUBMIT fails to set CONTINUE_RUN to TRUE in cim2.0.7 and clm4_5_1_r119"
Looking at the code, it looks like it should do this, but it doesn't work correctly. This is something that Sean Swenson found. If you manually set CONTINUE_RUN TRUE and set RESUBMIT, things work correctly. But, if on your initial run you set RESUBMIT, it doesn't resubmit on it's own like it should. I did this with clm4_5_1_r119 which uses cime2.07 with a simple case...

create_newcase -case clm5h

[2015-09-03 17:43] quantheory commented on #151
Um. I hope that the agreement for the next procurement specifies that critical software actually has to be supported for the full lifetime of the machine. Yellowstone still has years left, and apparently we're already relying on unsupported libraries. Not fun.

_Anyway_, back to the things that we can actually do something about, here, would it be possible to adjust MP_EAGER_LIMIT based on the gri

[2015-09-04 20:52] billsacks commented on #146
Another strategy to accomplish this would be to allow tests to specify two testmods directories: The test would run a case with each testmods directories (probably as a ref case and then the actual case) and compare the two.

[2015-09-09 18:44] billsacks commented on #115
This appears to truly be fixed; closing it.

[2015-09-09 18:44] #115 closed, assigned to jedwards4b

[2015-09-09 18:44] billsacks commented on #116
This appears to be fixed (by #148 ?); closing it.

[2015-09-09 18:44] #116 closed, assigned to nobody

[2015-09-10 17:42] bertinia commented on #152
Here's more information about this bug sent in by Kevin Reader:

I've set up a single-instance run of CESM1_4_beta06.
I'm still developing, so I set DOUT_S = false.
I ran a job with RESUBMIT = 0, and saw that the output looked right,
so I submitted a 2nd job with RESUBMIT = 5.  The 2nd job ran, but
the 3rd job couldn't start, because one of the scripts couldn't find './$CASE.run'.
Since the script

[2015-09-10 18:54] mnlevy1981 opened #156 "compare_namelist.pl seems to mishandle new variables"
Keith L added two namelist variables to &ecosys_nml in pop_in, and we expected the namelist comparison tool to output

[code]

Instead, we see

[code]

Interestingly, switching the order of the files is fine

[code]

[2015-09-11 15:53] mnlevy1981 commented on #156
I made a couple of tweaks to the script and now it behaves as expected for the example namelist above... but I have no idea if it breaks functionality in any other cases. Is there a test suite for the compare_namelist test? My update is on yellowstone in `/glade/p/work/mlevy/codes/CESM/cesm1_4_beta06+latest_pop/cime/scripts/Tools`

[code]

[2015-09-13 22:16] billsacks commented on #152
I have (inadvertently) reproduced Kevin Raeder's problem. As he did, I had set DOUT_S = FALSE, but RESUBMIT > 0.

$ cat cesm.stderr.255956
WARNING getTiming2: 1 nprocs - running in mpiserial mode so no additional timing to be reported , exiting
sh: ./test_hist_init_0913.run: No such file or directory

$ tail -3 cesm.stdout.255956
Submitting CESM job script: test_hist_init_0913.run
: bsub  <  ./tes

[2015-09-13 22:21] jedwards4b commented on #152
Hi Bill,

This is fixed in the branch we are working on for 1_5_alpha01a.   It's been
broken for several beta tags though and we'll need to discuss what we want
to do about them tomorrow.

On Sun, Sep 13, 2015 at 4:16 PM, Bill Sacks notifications@github.com
wrote:

##

Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2015-09-13 22:35] billsacks opened #157 "PEA tests exit with non-zero status despite passing"
From cesm1_4_beta07 (but I believe I have been seeing this, or similar, behavior since Mariana's big refactor 6 months ago):

This test:

PEA_P1_M.f09_g16.TGHIST.yellowstone_pgi

gives:

$ cat cesm.stderr.255988
WARNING getTiming2: 1 nprocs - running in mpiserial mode so no additional timing to be reported , exiting
ls: No match.
WARNING getTiming2: 1 nprocs - running in mpiserial mode so no addit

[2015-09-15 17:27] jedwards4b opened #158 "model cost in timing file"
We need to assure that the model cost estimate in the timing file is correct for all supported machines.

[2015-09-15 17:34] billsacks opened #159 "For create_newcase and case_setup, move some prints into an 'if verbose' conditional"
I feel like the pendulum has been swinging to more verbosity of create_newcase and case_setup -- too much, in my opinion.

Jim's suggestion, which I agree with, is that more of the prints in create_newcase should be moved into 'if verbose' conditionals, and a verbose flag should be added to case_setup, with most or all prints moved in there.

My personal preference would be to have little or no in

[2015-09-15 17:34] billsacks commented on #159
cc @jedwards4b @mvertens @sholly

[2015-09-15 18:00] bandre-ucar commented on #159
I'd actually prefer some canned output subroutines in perl5lib instead of
bare print statements. Then it would be easy to create a pseudo progress
bar with careful newlines and ensure grep-ability of results from log
files. Something like:

verbose_message($verbose_message);

sub verbose_message {
    if ($verbose || $debug) {
      printf('$verbose_message \n');
    } else {
      printf('.');

[2015-09-15 18:02] billsacks commented on #159
I really like @bandre-ucar 's idea.

[2015-09-15 18:22] jedwards4b commented on #159
Please feel free to create a Messages.pm module and implement this.

On Tue, Sep 15, 2015 at 12:02 PM, Bill Sacks notifications@github.com
wrote:

##

Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2015-09-16 21:29] billsacks commented on #146
Moving bugzilla bug 1852 here.... This partly duplicates what I have above, but not entirely.

_Here was the original bugzilla enhancement request (from me):_

This is an enhancement that has been on my mental wish list for a little while... it's probably a big project, although maybe with the testmods directories an initial version could be implemented without too much trouble....

I'd love to ha

[2015-09-16 21:36] apcraig opened #165 "missing metadata_set calls in seq_flds_mods.F90"
There does not seem to be a "metadata_set" call for the ram1 variable in seq_flds_mod.F90.  This should be updated.  We should make sure other coupling variables are not missing the metadata call as well.  This is where units and descriptions are documented for each coupling variable.

[2015-09-17 00:04] jedwards4b opened #167 "need tests for resubmit and data assimilation"
These tests must be capable of operating over multiple job submissions.  Currently
tests only work within the scope of one job.   One way to do this is to have the resubmit call
the CASE.submit script instead of calling the run script directly.   This mechanism could also be used for a sta test.

[2015-09-17 00:06] jedwards4b opened #168 "Job submission parameters in env_run.xml"
Job submission parameters such as wallclocktime and queue which do not require
complete regeneration of the case test and run scripts should be in env_run.xml and
the submit script should read and evaluate these parameters at submission time.

[2015-09-17 21:00] sholly commented on #21
This was fixed with the 'sta_ok' enhancement to the batch system code.

[2015-09-17 21:00] #21 closed, assigned to sholly

[2015-09-17 21:06] bertinia opened #169 "configure script needs to be updated for compatibility with cime3.y.z"
There are still a couple of TODO comment flags in the configure.pl script that need to
be resolved. Namely, the $scriptdir and $config_def_file vars are no longer valid
as of cime3.0.0

---
# TODO: need to completely rework this script to account for the removal of config_def_file                                                                                                             # Create n

[2015-09-17 21:17] sholly commented on #157
Looks like the _M confopt is broken in the current cime...

---

## Setting up the following test:

  testcase:  PEA_P1_M
  grid:      f09_g16
  compset:   TGHIST
  machine:   yellowstone
  compiler:  pgi
Uncaught exception from user code:
    M option found but no MPILIB provided at /glade/p/work/jshollen/devsandboxes/cesm1_5_alpha01.issuefixes/cime/scripts/create_newcase line 701.
 at /glade/p/w

[2015-09-18 00:23] bertinia opened #170 "pgi 14.2.0 compiler on bluewaters fails for ERS.f09_g16.B1850C5CN test"
For CIME3.0.1 and cesm1_5_alpha01a prealpha testing:
Test ERS.f09_g16.B1850C5CN.bluewaters_pgi.allactive-default on bluewaters failed to compile in cam build with a PGI compiler error as follows:

ILM FILE line 86459: Bad ilm operand 0
PGF90-F-0000-Internal compiler error. Errors in ILM file       1 (/mnt/a/u/sciteam/abertini/sandboxes/testing/cesm1_5_alpha01a/components/cam/src/utils/cam_grid_sup

[2015-09-18 02:18] jedwards4b commented on #157
The _M confopt expects an argument - it is the mpi-library specifier as in
_Mmpi-serial.

On Thu, Sep 17, 2015 at 3:17 PM, Jay Shollenberger <notifications@github.com

##

Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2015-09-18 02:52] billsacks commented on #157
I can't speak to whether it was correct or not... but it used to be that all (I believe) PEA tests had that form: PEA_P1_M. Honestly, I'm not sure that I ever understood why the _M was there, but it was.

So, @jedwards4b : Do you suggest simply getting rid of the _M, or is some other change needed now to get the PEA test to work?

[2015-09-18 12:28] jedwards4b commented on #157
Yes get rid of the _M, let me know if you figure out what it was meant for.

On Thu, Sep 17, 2015 at 8:52 PM, Bill Sacks notifications@github.com
wrote:

##

Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2015-09-18 20:57] sholly commented on #51
I did 2 of these tests in cesm1_5_alpha01a, with these results:

SMS_P15x2.f10_f10.IHISTCLM45BGC.yellowstone_pgi.clm-monthly:
tStamp_write: model date = 18500102       0 wall clock = 2015-09-18 12:00:07 avg dt =     4.99 dt =     4.99
 tStamp_write: model date = 18500103       0 wall clock = 2015-09-18 12:00:08 avg dt =     3.40 dt =     1.81
 tStamp_write: model date = 18500104       0 wall clock

[2015-09-18 21:32] #152 closed, assigned to sholly

[2015-09-21 17:09] mvertens commented on #49
This is in transition and will be addressed within the cime3.0.x series.

[2015-09-21 17:10] #51 closed, assigned to sholly

[2015-09-21 17:12] mvertens commented on #65
SCAM is really problematic. We need to look at scam before June and revisit this problem periodically.

[2015-09-21 17:13] mvertens commented on #66
This should go into cesm1_5_beta02.

[2015-09-21 17:13] mvertens commented on #66
This should be merged into cime by accepting pull request #118.

[2015-09-21 17:17] mvertens commented on #75
This is low priority to verify. But should be verified before cesm2.0.

[2015-09-21 17:18] #76 closed, assigned to nobody

[2015-09-21 17:24] mvertens commented on #93
This should be bundled in with the #65 bug as one bug.

[2015-09-21 17:28] billsacks commented on #103
@apcraig suggests supporting both 'none' and 'copy', meaning the same thing. So the solution is to add 'none' in the list of valid values in namelist definition.

[2015-09-21 17:31] mvertens commented on #132
This is fixed in cime3.0.3

[2015-09-21 17:31] #132 closed, assigned to sholly

[2015-09-21 17:33] #170 closed, assigned to nobody

[2015-09-21 19:06] billsacks commented on #157
I have removed the _M from the PEA tests added by CISM; with that change, the tests pass. That change does _not_ solve the original issue in this bug report, though.

[2015-09-21 21:34] sholly commented on #103
Adding none option as a valid 'fillalgo'...

[2015-09-21 22:05] sholly commented on #157
I just tried to create a SMS.f09_g16.TGHIST.yellowstone_pgi, still seeing this error:

[code]

 at /glade/p/work/jshollen/devsandboxes/cesm1_5_alpha01.issuefixes/cime/scripts/SMS.f09_g16.TGHIST.yellowstone_pgi.150921-160001/preview_namelists line 171
ERROR: /glade/p/work/jshollen/devsandboxes/cesm1_5_alpha01.issuefixes/cime/scripts/SMS.f09_g16.TGHIST.yellowstone_pgi.150921-160001/preview_namelists

[2015-09-22 11:43] mvertens commented on #157
The reason this is a problem is that we always need the glc grid right now for a compset that includes cism. This needs to be changed to SMS.f09_g16_gl5.TGHIST.yellowstone_pgi
(Note the gl5 in the resolution)

[2015-09-22 11:51] mvertens commented on #157
I do not think that this necessarily fixes Bill's problem - but it does address Jay's issue.

[2015-09-22 15:12] rljacob opened #181 "Setting different threads per component doesn't work"
The submit command for jobs with different threads per component (at least one component with different number of threads than others) in not generated correctly by CIME (as of CIME 2.0.16).

For example, on Titan we used to be able to get this run command generated:
aprun -n 680 -N 8 -d 2 $EXEROOT/cesm.exe : -n 256 -N 16 -d 1 $EXEROOT/cesm.exe >&! cesm.log.$LID

taskmaker.pl was used for this but

[2015-09-22 18:27] jedwards4b commented on #181
It's a feature that we do not generally use and we were unaware that it was broken.   I think that your patch would be appreciated.

[2015-09-22 18:32] jayeshkrishna commented on #181
Thanks. We are in the process of testing the patch, and once we finish the test I will push it into the ACME fork and issue a pull request for it.

[2015-09-24 16:35] #169 closed, assigned to nobody

[2015-09-25 15:30] jedwards4b opened #186 "What's in a CASE?"
Now that we've completely moved away from the idea that a case directory should be
independent of a CIME source tree I would like to consider removing some of the other
files that we copy to the case directory that we don't need to copy.   This list includes:

case_setup
preview_namelist
archive_metadata.sh
check_case - move
check_input_data - move
create_production_test - move
st_archive - move
t

[2015-09-25 19:01] billsacks commented on #186
I support the idea of copying less to the case directory. But are you suggesting that, rather than (e.g.) running

[code]

a user would instead run the following:?

[code]

If I'm understanding that right, then to me, the only way this would be a workable change is if we had some sort of wrapper script in the case directory that would allow you to run something like:

[code]

where, under the cove

[2015-09-25 19:08] billsacks opened #187 "Some TG runs die with gnu trying to access atm domain info"
Some TG runs have been dying when run with gnu, with an error message that looks like this:

   4:MCT::m_AttrVect::lsize_: attribute array length mismatch error, stat =892988089
   4:004.MCT(MPEU)::die.: from MCT::m_AttrVect::lsize_()
   4:Abort(2) on node 4 (rank 4 in comm 1140850688): application called MPI_Abort(MPI_COMM_WORLD, 2) - process 4
   4:INFO: 0031-306  pm_atexit: pm_exit_value is 1.

[2015-09-25 19:09] billsacks commented on #187
cc @apcraig @rljacob @matthewhoffman

[2015-09-25 19:11] jedwards4b commented on #186
On Fri, Sep 25, 2015 at 1:01 PM, Bill Sacks notifications@github.com
wrote:

##

Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2015-09-25 19:54] mvertens commented on #186
I don't think this is a good idea. I do think this is definitely taking
things to far - and will only lead to confusion for both current and new
users.
But I would prefer to bring this up at the CSEG meeting with a wider
discussion on Monday's meeting.

I do agree that $CASE.run should be case.run and $CASE.build should be
case.build etc. That does seem like a nice simplification.

Mariana

On Fri

[2015-09-26 04:03] rljacob commented on #186
I feel like I'm coming in in the middle of this but my thoughts:  if the file is meant to be altered to run the case (or "power user" variations on the case), copy it to the case directory.  Otherwise, one could leave it where it is.  But requiring users to alter their path as part of installing the model might be a bit much.  And something like $model.run or cime.run would make more sense.

[2015-09-29 22:34] billsacks opened #196 "Parsing of _M option in test name appears to prevent parsing of further test options"
If you have a test name that has the _M option (e.g., _Mmpi-serial), and then further underscore-delimited options after that, it appears that the further options are not picked up.

Observed with cime3.0.7: This test:

SMS_D_Mmpi-serial_Ld1.f45_f45.ICLM45.yellowstone_pgi.clm-ptsRLA

was set up to run for the default 5 days, ignoring _Ld1. When I changed this (or maybe a similar test) to:

SMS_D_L

[2015-09-29 22:34] billsacks commented on #196
cc @mvertens @jedwards4b

[2015-09-30 09:51] #196 closed, assigned to sholly

[2015-09-30 11:22] billsacks commented on #104
Was this fixed with a4bdd41dfed64635d597327faff5411f6aaa7da0 ???

[2015-09-30 21:49] jedwards4b commented on #159
Implemented using Log::Log4perl
Scripts now take option -loglevel which can be set to
DEBUG INFO WARN ERROR FATAL     (most to least verbose)
default : INFO

[2015-10-01 18:37] #159 closed, assigned to bandre-ucar

[2015-10-02 17:44] #187 closed, assigned to billsacks

[2015-10-02 19:25] billsacks opened #203 "All tests die with "CASEROOT: Undefined variable.""
Using both cime master (at 2c3f6ed44da2e01094c2557486f1550f2bd2ef13) and cime3.1.0, I get the following for all tests I try to run: nothing happens, and the stderr file shows:

CASEROOT: Undefined variable.

e.g., I have gotten this with:

ERS_D_Ld3.f19_g16.X.yellowstone_pgi

[2015-10-02 19:25] billsacks commented on #203
cc @sholly @mvertens

[2015-10-02 21:32] #203 closed, assigned to jedwards4b

[2015-10-02 21:45] billsacks opened #205 "grid-compset consistency check not done for user_compset"
With cime3.0.7 (haven't tested later versions), if I do:

./create_newcase -case test_1002b -compset IGCLM45 -res f19_g16 -mach yellowstone

I correctly get an error because I didn't specify a GLC grid:

Uncaught exception from user code:
    ERROR: 2000_DATM%QIA_CLM45%SP_SICE_SOCN_RTM_CISM1_SWAV
 is not supported for
 a%1.9x2.5_l%1.9x2.5_oi%gx1v6_r%r05_m%gx1v6_g%null_w%null
 at /glade/p/work/sack

[2015-10-02 23:16] jedwards4b opened #207 "RESUBMIT bug"
The variable RUN_WITH_SUBMIT is updated in xml but the %config variable that holds it
internally is not updated and so the new value is never realised.

[2015-10-02 23:17] bertinia opened #208 "the %config hash needs to be reloaded after an xmlchange command"
Anytime the ./xmlchange command is executed in a perl script, the corresponding %config hash
variable also needs to be updated for consistency.

[2015-10-03 00:01] jedwards4b commented on #208
Same as #207

[2015-10-03 00:01] #208 closed, assigned to nobody

[2015-10-03 01:23] billsacks opened #209 "Tests fail with "setenv: Too many arguments""
With cime3.2.3, all of my tests are still failing, this time with the following in my stderr file (and nothing in stdout):

setenv: Too many arguments

Reproducer:

ERS_D_Ld3.f19_g16.X.yellowstone_pgi

[2015-10-03 01:23] billsacks commented on #209
cc @mvertens @sholly

[2015-10-03 01:49] #209 closed, assigned to jedwards4b

[2015-10-03 01:52] jedwards4b commented on #209
Yes I'm sorry.
​ Fixed in cime3.2.4 - no really - i even tested it.   ​

On Oct 2, 2015 7:23 PM, "Bill Sacks" notifications@github.com wrote:

[2015-10-08 16:19] mnlevy1981 opened #215 "Runoff mapping not conservative?"
Yu-heng mentioned that he has been playing with the e-folding and radius parameters in the smooth map step of creating a river run-off map, and that these smooth maps aren't conserving runoff so different parameters lead to different volumes of runoff entering the ocean. I haven't had a chance to confirm this yet.

[2015-10-08 18:18] jedwards4b commented on #207
resolved in #214

[2015-10-08 18:18] #207 closed, assigned to nobody

[2015-10-08 18:40] jedwards4b commented on #205
Why isn't  setCompsetGeneralVars called for user_compset ?

[2015-10-08 18:42] jedwards4b commented on #168
This is in #212

[2015-10-08 18:42] #168 closed, assigned to nobody

[2015-10-08 19:08] #107 closed, assigned to bertinia

[2015-10-08 19:49] mnlevy1981 commented on #156
Realized I deleted the `/glade/p/work/mlevy/codes/CESM/cesm1_4_beta06+latest_pop` directory; working on recreating this fix

[2015-10-08 20:31] mnlevy1981 commented on #156
I created a new branch with the fix: https://github.com/mnlevy1981/cime/tree/mlevy/compare_namelist

It seems to work for the case of adding variables and the case of deleting variables, but that's the extent of the testing I've done. Also including the diff below, since having that in an earlier comment would have saved me some time...

[code]

[2015-10-08 22:02] bertinia commented on #111
Fixed with pull request #216

[2015-10-08 22:02] #111 closed, assigned to bertinia

[2015-10-09 03:17] ekluzek opened #219 "gen_domain Makefile needs to use Macros.make"
The Makefile in cime/tools/mapping/gen_domain_files/src needs to point to Macros.make rather than Macros.  Also the INSTALL readme file needs to be updated to say to use the configure in cime/tools. There might be other tools that need this change as well. This is with at least cime4.0.1.

[2015-10-09 03:30] mnlevy1981 commented on #219
I was just talking to Brian K about this today... I haven't touched the mapping tools documentation in entirely too long. And besides `gen_domain`, I think the `check_maps` and `runoff_to_ocn` tools need `cime/tools/configure` as well.

[2015-10-09 03:48] jedwards4b commented on #219
Yes this is an outstanding issue with all of the CESM standalone support
tools

On Thu, Oct 8, 2015 at 9:30 PM, Michael Levy notifications@github.com
wrote:

##

Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2015-10-09 17:19] fvitt opened #220 "create_newcase -list option"
create_newcase no longer has the '-list' option.  Can this be restored?

[2015-10-09 17:34] mvertens commented on #220
you now need to use manage_case
we can add the feature for create_newcase to call manage_case as we move
forwards - but manage case actually does a lot more now than create_newcase
-list used to

On Fri, Oct 9, 2015 at 11:19 AM, fvitt notifications@github.com wrote:

[2015-10-09 18:00] fvitt commented on #220
This is good to know. Thanks!

On Fri, Oct 9, 2015 at 11:34 AM, mvertens notifications@github.com wrote:

[2015-10-09 20:35] sholly opened #221 "CESM runs will only run under bash on Eos"
This has something to do with the module system, cases run under csh-based shells fail.

[2015-10-09 21:30] billsacks opened #223 "CLM source code gets rebuilt even if nothing changed"
I don't know if this is a CLM bug or a CIME bug, but I'll file it as a CIME bug for now.

I have noticed that, if you build a test involving CLM (e.g., SMS_D_Ld3.f10_f10.ICLM45BGCCROP.yellowstone_intel), then rebuild without changing anything, at least some of the CLM source files get rebuilt. So, while the builds for other components happen almost instantly, the CLM rebuild takes about 40 seconds

[2015-10-09 21:31] billsacks commented on #223
cc @jedwards4b @mvertens @ekluzek @bandre-ucar

[2015-10-12 17:20] #220 closed, assigned to nobody

[2015-10-12 17:22] jedwards4b commented on #167
ERR test added

[2015-10-12 17:22] #167 closed, assigned to nobody

[2015-10-12 17:25] #147 closed, assigned to nobody

[2015-10-12 17:52] billsacks commented on #223
Some more information on this:

I have reproduced it from r74030 (I believe) of https://svn-ccsm-models.cgd.ucar.edu/clm2/branches/initinterp_vertical. This is basically clm4_5_3_r136, with a few changes that I don't expect to have affected this bug. It uses cime4.0.1.

I created this test:

SMS_D_Ld3.f10_f10.ICLM45BGCCROP.yellowstone_intel

built it, then rebuilt it without changing anything. In

[2015-10-12 20:10] jedwards4b commented on #223
Fixed with #225

[2015-10-12 20:10] #223 closed, assigned to nobody

[2015-10-12 20:31] jedwards4b commented on #105
I just tried this and it appears to work correctly in cime4.0.8

[2015-10-12 20:31] #105 closed, assigned to ekluzek

[2015-10-13 18:57] rljacob opened #227 "Bug in aprun command in TaskMaker.pm"
(Reposting bug spotted by Pat Worley)

in cime/utils/perl5lib/Task/TaskMaker.pm, line 278,

[code]

should be

[code]

(node, not mode)

[2015-10-13 19:05] jedwards4b commented on #227
Thanks! Corrected in #228

[2015-10-13 19:05] #227 closed, assigned to nobody

[2015-10-13 21:26] billsacks opened #229 "Speed up build and submit scripts"
I'd like to see the build script (specifically, the stuff that happens before the build itself begins) and the submit script sped up. From cime4.0.1, the submit script takes 16 seconds for an I compset on yellowstone.

This could be done by:
- removing some of this stuff: do we really need to rebuild component namelists all the time?
- rearranging some things: when I fix a compilation error and re

[2015-10-13 23:57] rljacob commented on #229
We were wondering the same thing.  Tagging @jgfouca

[2015-10-14 03:08] jedwards4b commented on #229
So I have been working on a branch to address this issue, it's been a low
priority issue so progress is slow.   But I recognize that there could be a
lot more reuse of code as well as hierarchy and OO design.  I am working to
integrate the scripts so that a given task is done in one place.
Currently one expensive item is that xmlquery and xmlchange read or write
an entire file each time they are a

[2015-10-14 05:45] rljacob commented on #229
Following up on the slow build:  I'd like to see the .build script just build object code and executables.  I think we need another script that does all the file moving and namelist making.  Then when you're debugging, you just have to execute the (slimmed down) build script and it should be nice and fast.

[2015-10-14 08:12] quantheory commented on #229
I don't want to make an inappropriate generalization here, but my experience with standalone CAM builds, and my gut instinct is that building separate components in parallel would help a lot. E.g. building CAM in parallel with CLM, and with whatever other components. My recollection is that this had a 30%-40% effect on build time back in the day, but we would need to test again to see how things a

[2015-10-14 12:41] billsacks commented on #229
Thanks, @jedwards4b for your work on this!

@quantheory : For this case on yellowstone (SMS_D_Ld3.f10_f10.I1850CLM45BGC.yellowstone_pgi.clm-interp_f19_crop), I just timed the buildnml scripts at about 8 seconds. I imagine a B compset would take longer. The rest of the 16 seconds is due to "checking the case" (which takes a few seconds), module loads (which are done twice), and finally the actual j

[2015-10-14 16:13] dabail10 opened #230 "Long-term archiver"
I am getting the following message when I try to manually submit the long-term archiver in cesm1_5_alpha01.

Can't locate SetupTools.pm in @INC (@INC contains: /usr/local/lib64/perl5 /usr/local/share/perl5 /usr/lib64/perl5/vendor_perl /usr/share/perl5/vendor_perl /usr/lib64/perl5 /usr/share/perl5 . ./Tools) at ./g.e15.GIAF.T62_g16.001.lt_archive line 11.

Do we have a workaround?

[2015-10-14 17:31] jedwards4b commented on #230
add to the top of case.ltarchive:

my $cimeroot = `xmlquery CIMEROOT -value`
my $perl5lib = "$cimeroot/utils/perl5lib";
push(@INC,$perl5lib);

I'll put a fix in my next cime tag.

On Wed, Oct 14, 2015 at 10:13 AM, dabail10 notifications@github.com wrote:

##

Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2015-10-14 18:03] jgfouca commented on #229
I have updates to create_test (ACME's create test, not yet pushed) that will setup/build all your cases in parallel. This doesn't help the speed of a single case, but works great when you're doing a bunch of cases.

In my opinion, the right way to fix the builds is to transition the entire system to CMake.

[2015-10-14 19:42] dabail10 commented on #230
This does not work. Also, I copied SetupTool.pm over to my local tools and
now it cannot find Run/RunChecks.pm.

Dave

On Wed, Oct 14, 2015 at 11:31 AM, jedwards4b notifications@github.com
wrote:

##

David A Bailey
 email: dbailey_at_ucar.edu
National Center for Atmospheric Research   phone: 303-497-1737
PO Box 3000
fax  : 303-497-1700
Boulder, CO 80307-3000
                   http://www.cgd.ucar

[2015-10-14 20:03] jedwards4b commented on #230
You're correct.   I've turned this over to Jay, it won't be in my tag.

[2015-10-14 20:08] dabail10 commented on #230
We have the fix:

my $cimeroot = `./xmlquery CIMEROOT -value`;
print "$cimeroot \n";
my $perl5lib = "$cimeroot/utils/perl5lib";
my $configdir = "$perl5lib/Config";
push(@INC, $perl5lib, $configdir);

my $toolsdir = "./Tools";
push(@INC, $toolsdir);
require SetupTools;
require Run::RunChecks;
require Module::ModuleLoader;

Dave

On Wed, Oct 14, 2015 at 2:03 PM, jedwards4b notifications@github.com
w

[2015-10-14 21:50] jedwards4b commented on #186
Resolved by #231

[2015-10-14 21:50] #186 closed, assigned to nobody

[2015-10-14 21:50] jedwards4b commented on #113
Resolved by #231

[2015-10-14 21:50] #113 closed, assigned to sholly

[2015-10-15 17:50] billsacks opened #233 "xmlchange fails if you try to set multiple variables at once"
With 17935b820fa36039b36e79fd4c79cf6649bd709c (also observed with cime4.0.1):

 ./create_test -testname SMS.f19_g16.X.yellowstone_intel

This works:

[yslogin2:/glade/p/work/sacks/cime/scripts/SMS.f19_g16.X.yellowstone_intel.151015-114701]$ ./xmlchange STOP_N=1

But these give errors:

[yslogin2:/glade/p/work/sacks/cime/scripts/SMS.f19_g16.X.yellowstone_intel.151015-114701]$ ./xmlchange DEBUG=TRUE

[2015-10-15 23:23] bertinia opened #235 "test system interaction with env_archive.xml when multiple instances of a component are requested"
The testing system needs to modify the env_archive.xml <muilti_instance> true / false element
to correlate when multiple instance of components are run in case so the st_archive script works correctly. Currently, the user needs to modify the env_archive.xml file by hand.

[2015-10-16 17:33] bertinia commented on #235
fixed in CIME 4.1.0.

[2015-10-16 17:33] #235 closed, assigned to nobody

[2015-10-16 17:35] bertinia opened #236 "st_archive -undo option not unlinking files correctly"
The st_archive -undo option isn't quite right in coordinating the move / unlink between the
archive.locked, archive, and rundir. It leaves 0 length files for the restarts in the rundir.

[2015-10-16 20:13] jedwards4b opened #238 "B1850G doesn't turn on CLM CROP code"
CLM should by default turn on both CROP and BGC but in cesm1_5_alpha02d it
isn't turning on crop.

[2015-10-16 21:53] sholly opened #239 "entry id="batch_system" in env_case.xml set to incorrect value"
[code]

needs to be removed from env_case, put into env_batch.xml

[2015-10-16 22:02] jedwards4b commented on #238
This turns out to be because the CLM tag which defined BGC-CROP wasn't made.   Which leads to a new problem which I'll open in a new issue.

[2015-10-16 22:08] jedwards4b opened #240 "config_component regex matching is ambiguous and error prone"
Currently regular expression matching in the ConfigCase.pm add_config_variables subroutine
is too generous and matching things that should not be matched.  So for example

CLM50%BGC-CROP is matching  CLM50%BGC  and it would match CLM50%BGC-CROP if it were
defined in clm, but its not and so there is a silent error since there is no easy way to see if a match is incomplete.   An attempt to tighten r

[2015-10-17 19:18] billsacks opened #241 "xmlchange commands done by scripts should have '-noecho' flag"
Background: A few months ago, I put in place an 'echo' capability in xmlchange so that, by default, any xmlchange command the user runs is echoed to the CaseStatus file. The purpose of this is for traceability and reproducibility of the case. However, my intent was to only echo xmlchange commands that were manually run by the user: My feeling (which others agreed with) was that this should just sh

[2015-10-17 19:18] billsacks commented on #241
cc @jedwards4b @sholly @mvertens @bertinia

[2015-10-17 19:24] billsacks opened #242 "Stop requiring user_pes_setby argument to create_newcase"
If we are going to move to having -user_compset be a more common way of setting up a case (as @mvertens has suggested on a number of occasions), then I feel we really need to make the scripts smart enough to not require the user to specify -user_pes_setby in this case. This -user_pes_setby argument is reasonable for an expert user who understands who sets the PE layout in various situations, but I

[2015-10-17 20:49] jedwards4b commented on #241
Seems to me that if you should almost always use an option - then it's
backward and should do the opposite thing?

On Sat, Oct 17, 2015 at 1:18 PM, Bill Sacks notifications@github.com
wrote:

##

Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2015-10-17 21:00] billsacks commented on #241
@jedwards4b : This is what makes it tricky: The scripts should almost always use -noecho, yet a user never should.

[2015-10-17 21:04] billsacks commented on #241
Here's one idea for a longer-term solution... it doesn't exactly solve the problem, but it at least makes the problem detectable / auditable:

Introduce perl functions, xml_noecho_change and xml_echo_change. These would simply be wrappers to ./xmlchange, where the first one specifies the '-noecho' argument and the second does not.

Then we would have a convention that all calls to xmlchange from t

[2015-10-17 21:15] jedwards4b commented on #241
In my refactor branch in which xmlchange is called through a
subroutine/module call instead of the shell this will be an easy fix.  In
the meantime we can just add the -noecho as you suggest.

On Sat, Oct 17, 2015 at 3:04 PM, Bill Sacks notifications@github.com
wrote:

##

Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2015-10-17 21:27] billsacks commented on #241
@jedwards4b : Perfect: I was wondering if this issue would largely go away with the big refactor you're doing... glad to hear that it likely will.

[2015-10-17 21:35] mnlevy1981 commented on #241
I know we're trying to move away from environment variables, but maybe it makes sense to have xmlchange echo to CaseStatus unless 1 of the following 2 things are true:
1. Run with the -noecho option
2. The $CIME_XMLCHANGE_NOECHO environment variable is set to TRUE

Then we could have a `set CIME_XMLCHANGE_NOECHO=TRUE` call at the top of any scripts that use xmlchange and an `unset CIME_XMLCHANGE_N

[2015-10-18 00:42] #233 closed, assigned to sholly

[2015-10-18 21:01] jedwards4b opened #244 "short term archiver not using queue set in env_batch.xml"
When the JOB_QUEUE for the sta is different from that of the run in env_batch.xml
the sta is not using that setting.

[2015-10-18 22:51] jedwards4b commented on #244
FIxed in #245

[2015-10-18 22:51] #244 closed, assigned to nobody

[2015-10-19 15:10] jedwards4b opened #246 "Multi instance namelist files not copied to CaseDocs"

[2015-10-19 15:36] jedwards4b commented on #246
Fixed in #245

[2015-10-19 15:36] #246 closed, assigned to nobody

[2015-10-20 14:58] jedwards4b opened #247 "valid_values in SetUpTools too restrictive"
I used to be able to set REST_OPTION=$STOP_OPTION

This is no longer allowed:

./xmlchange REST_OPTION=\$STOP_OPTION
ERROR is_valid_value: REST_OPTION has value $STOP_OPTION which is not a valid value
ERROR is_valid_value: REST_OPTION has value $STOP_OPTION which is not a valid value  at /glade/p/work/jedwards/sandboxes/cesm1_5_alpha/cime.pio2/utils/perl5lib/Config/SetupTools.pm line 358

[2015-10-20 15:09] sholly opened #248 "statistical ensemble tools have not been updated with case scripts changes"
While running the ensemble test yesteryday, I noted that the single_run script has not been updated to match the new $case.script -> case.script paradigm.

[2015-10-20 15:14] sholly commented on #230
Just as an update, Danica was having similar issues with the lt_archive job script.  This was mostly due to the fact that she was using a CLM tag that did not have any of the lt_archive updates.  The lt_archive run script should be working, but we should leave this open until we have a proper test for this functionality.

[2015-10-20 17:59] billsacks opened #249 "Most output from test / case setup goes to stderr rather than stdout"
I expect most output from scripts to go to stdout, with just error messages going to stderr. But I am finding that most of the output from test and case setup, build, etc. is going to the stderr stream.

[2015-10-20 18:09] jedwards4b commented on #249
I've been trying to figure out why that happens, something is triggering
the swtich from stdout to stderr, but I don't understand what it is yet.

On Tue, Oct 20, 2015 at 11:59 AM, Bill Sacks notifications@github.com
wrote:

##

Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2015-10-20 19:13] #248 closed, assigned to sholly

[2015-10-20 21:17] dabail10 commented on #230
Mine is still not working even with all of the perl statements. When I try
to submit it as:

bsub < $case.lt_archive

It rejects it because it cannot find a wallclock time. However, it is right
there at the top of the script. I think I am missing something about how
the submit script works now.

Dave

On Tue, Oct 20, 2015 at 9:14 AM, Jay Shollenberger <notifications@github.com

##

David A Bailey

[2015-10-20 23:11] bertinia commented on #230
I've gathered some requirements from Rory Kelly, Jim, Jay, and Gary on what needs
to go into a rewrite of the lt_archive.sh into perl. I will start working on it this week.

[2015-10-21 00:22] mnlevy1981 opened #251 "Can not use xmlchange or xmlquery with variables in env_batch.xml"
env_batch.xml was not in the list of files that xmlchange or xmlquery would look in, so commands like

[code]

and

[code]

both failed. Pull request coming momentarily.

[2015-10-21 00:54] jedwards4b commented on #251
​xmlchange already works but you need to use the old style
xmlchange -file env_batch.xml -id PROJECT -val WHATEVA ​

On Tue, Oct 20, 2015 at 6:22 PM, Michael Levy notifications@github.com
wrote:

##

Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2015-10-21 01:43] mnlevy1981 commented on #251
Is there a reason to require the -file flag for env_batch.xml but not any of the other files? (And thanks for pointing this option out, I didn't know the flag existed.)

[2015-10-21 01:47] jedwards4b commented on #251
I guess that you've shown me that there is not.   Thanks

On Tue, Oct 20, 2015 at 7:43 PM, Michael Levy notifications@github.com
wrote:

##

Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2015-10-22 18:48] bandre-ucar opened #254 "config_machines.xml and env_build.xml need a way to set gmake command line args"
Per Mark Moore, Hobart requires setting a command line arg to gmake itself:

[code]

Note that this is an argument to gmake, not the compiler. There doesn't appear any way to pass arguments to gmake via GMAKE_ARGS or something similar in config_machines.xml, env_build.xml, etc.

[2015-10-23 17:58] mvertens opened #256 "test reporter refactor"
The testreporter.pl  that sends information back to the testdb needs to be aligned with the current output of cs.status.

[2015-10-23 18:01] mvertens opened #257 "Refactor of expected fails"
The testdb needs to be able to handle what the testreporter spits back.
Carry over the notes that you put in for tests.
Management of expected fails. This needs to be moved out of cime.
These tasks are dependent on the fix of testreporter.pl.

[2015-10-23 18:46] jedwards4b opened #258 "Change job, stdout, stderr via xmlchange"
Kevin Raeder (DART) requests:

It would be handy if we could change the names of the job, error file,
and output file (and ...?)
in the BSUB commands via xmlchange.  This is obviously not a show stopper.

[2015-10-23 20:07] jedwards4b commented on #254
Fixed in #255

[2015-10-23 20:07] #254 closed, assigned to nobody

[2015-10-23 20:12] jedwards4b commented on #251
Fixed in #252

[2015-10-23 20:12] #251 closed, assigned to nobody

[2015-10-23 21:45] #230 closed, assigned to sholly

[2015-10-24 13:41] jedwards4b commented on #249
Fixed in #259

[2015-10-24 13:41] #249 closed, assigned to nobody

[2015-10-24 13:42] jedwards4b commented on #241
Addressed in #259 but I'm not sure I got all of them.

[2015-10-24 13:44] jedwards4b commented on #236
fied in #260

[2015-10-24 13:44] #236 closed, assigned to bertinia

[2015-10-25 17:32] billsacks opened #261 "Request: Better organization of variables in env_run.xml (and other xml files)"
It used to be that similar variables were grouped together in env_run.xml. This made it easier to see what other related variables you may want to change when you change a given variable. Sections were also broken up visually with xml comment lines. For example:

[code]

The new format has less organization of variables, and no visual delimiters. Also, it seems that more thought was given to the o

[2015-10-26 21:06] jedwards4b opened #262 "TaskMaker.pm"
The computation of the total tasks for cost estimate is wrong.

An initial attempt to fix the problem indicated deeper flaws in this code.

We need to first understand what outputs from this module are actually used.
Second we need to determine the inputs necessary for each of these outputs.
Then rewrite the module.

[2015-10-26 21:22] jedwards4b commented on #262
A workaround to compute the pes for cost estimate correctly:

After running case.setup:

./xmlchange TOTALPES=(total nodes used \* PES_PER_NODE)
 cp env_mach_pes.xml LockedFiles/env_mach_pes.xml.locked

build and run as usual.

[2015-10-26 22:23] mnlevy1981 opened #263 "Testing copies output data into $CASEROOT/CaseDocs"
I filled up `/glade/p/work/mlevy` in a hurry (at the price of having several tests fail) and it looks like it's due to the test scripts copying output from the run directory to caseroot after the test finishes. I noticed it for ERI tests, but wouldn't be surprised if it happened for all tests... I wiped my work directory but reran the tests with caseroot on `/glade/scratch`:

[code]

edit: to clar

[2015-10-26 22:27] mnlevy1981 commented on #263
I should add that this is found in cime4.1.2 and cime4.1.3

[2015-10-26 23:14] jedwards4b commented on #263
Hi Mike,

I've got this fixed in my sandbox and will put in a pull request shortly.
Basically the problem is a too loose pattern match is copying all files with
__in_ in the name from the run directory into CaseDocs.

On Mon, Oct 26, 2015 at 4:27 PM, Michael Levy notifications@github.com
wrote:

##

Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2015-10-27 04:13] rljacob commented on #262
I think @jayeshkrishna has been looking at this too.

[2015-10-27 13:39] jayeshkrishna commented on #262
The fix that we have for node layout on Titan might touch on this issue. Not sure if that is the fix but this might be a good time to integrate the change from ACME to the cime master. I will start working on it.

[2015-10-27 18:14] bandre-ucar commented on #238
This will be fixed in clm r145 in the next day or two.

[2015-10-27 23:48] ekluzek commented on #247
We also get this problem...

ERROR is_valid_value: CLM_NML_USE_CASE has value 20thC_glacierMEC_transient which is not a valid value

Where CLM_NML_USE_CASE should be able to be set to any valid string (the CLM build-namelist will verify it's correct).

[2015-10-28 22:41] jedwards4b opened #268 "create_test options"
The options to create test are confusing
options with -xml_ cannot be combined with -testname option
but the error if you do this is obtuse and difficult to understand

[2015-10-29 15:22] #263 closed, assigned to nobody

[2015-10-29 19:44] bertinia commented on #268
In addition, if you want to use testmods, in order for them to be recognized, you need to specify the
testname option as follows:
./create_test -testname ERR_N2.f19_g16.B1850.yellowstone_intel.allactive-defaultio
rather than:
./create_test -testname ERR_N2.f19_g16.B1850.allactive-defaultio -mach yellowstone -compiler intel

[2015-11-01 13:57] jedwards4b opened #274 "create_test feature request"
create_test has an option -testroot that specifies where $CASEROOT goes.

I think it would be useful if there were also an option to specify $CESMSCRATCHROOT. If present, I would set it to a subdirectory of /glade/scratch/$USER and then it would easier to clean up the generated $RUNDIR's, $EXEROOT's, etc. after I'm done with the tests.

Also, should SHAREDLIBROOT use $CESMSCRATCHROOT instead of /g

[2015-11-02 18:35] #219 closed, assigned to nobody

[2015-11-02 20:27] jedwards4b commented on #165
What are the:
longname
stdname
units
attname

for the following cpl variables?
  ! Aerodynamical resistance (land/atm only)
     call seq_flds_add(l2x_states,"Sl_ram1")
     call seq_flds_add(x2a_states,"Sl_ram1")

 carma_fields
megan_fields
fire emissions fields.

[2015-11-02 23:46] kauff opened #275 "data models, shr_stream using mixed Gregorian no_leap calendars, not general enough"
It is desired that the data models (shr_stream) have the ability to use input data streams with a Gregorian calendar while the model has a no_leap calendar (or vice versa).

But consider a G compset with datm looping over (eg) five years of observation data, where the obs data has a Gregorian calendar.  Since we're looping over five years of obs data, real-world leap years in the model calendar in

[2015-11-03 21:52] bandre-ucar commented on #238
should be fixed in clm4_5_3_r145.

[2015-11-03 21:52] #238 closed, assigned to bandre-ucar

[2015-11-04 21:31] sholly commented on #247
I've fixed the first issue pending a bit of testing.  Erik, I was not able to reproduce the second issue, I can run './xmlchange CLM_NML_USE_CASE=20thC_glacierMEC_transient' from an I compset case, with no issues.

[2015-11-05 16:58] jedwards4b opened #283 "Energy and water budgets"
There has been a request for a mechanism to record and verify water and energy budgets across the coupled system.   Some ad-hoc methods have been developed in the past but because they are not
a regularly tested part of the system they often get broken.   Development of this mechanism should involve discussions with domain scientists of each of the component models.

[2015-11-05 18:16] jedwards4b opened #284 "seq_flds_nml mechanism to communicate with components."
The mechanism for component models to add exchange fields to the coupler is
currently fragile and unclear.   Currently cam is doing it one way and pop another.

Using a NUOPC may offer a robust solution to this problem,
do we defer until we have a NUOPC based driver/coupler code or should we develop an interim solution as well?

[2015-11-05 19:50] apcraig opened #285 "pe layout self-documentation error in run script"
For a simple X case running on 12 tasks, the self-documentation of the pe layout in the .run file is incorrect.  the "hw pe range" should be 0 to 11 in my test case.  what i'm getting is below.  this was in https://github.com/jedwards4b/cime.git, branch corip1_port.   By the way, I added a "!" in front of each line to suppress it becoming a "H1" type line.

!# PE Layout:
!#   Total number of tasks

[2015-11-05 20:01] apcraig opened #286 "inabilty to comment out sections of config_batch.xml"
It's not possible to comment out sections of the config_batch.xml file at the present time due to the parser.  It's handy to be able to comment out sections and test changes.  When I do that, I get errors like

/home/tcraig/cime/cime_config/cesm/machines/config_batch.xml:96: parser error : Comment not terminated

I tried to comment out a section of config_batch.xml by adding comments around the en

[2015-11-05 20:09] jedwards4b commented on #285
Corrected in the corip1_port branch

[2015-11-05 20:32] jedwards4b commented on #286
We think that this may be a LibXML bug, looking into it further.

[2015-11-05 20:40] bertinia commented on #286
instead of using

to comment out a block of XML, try

<?ignore .... ?>

The problem is with the SGML specification for comments that is inherited
by XML.

http://www.w3.org/TR/REC-xml/#sec-comments

On Thu, Nov 5, 2015 at 1:32 PM, jedwards4b notifications@github.com wrote:

##

Alice Bertini
NCAR - CSEG Software Engineer

[2015-11-05 20:41] jedwards4b commented on #286
I tried this, it works.   Thanks!

[2015-11-05 20:41] #286 closed, assigned to nobody

[2015-11-05 23:04] billsacks opened #287 "Some commits lost between cime4.0.2 and cime4.0.3"
Some commits that were in cime4.0.2 and earlier tags were lost in cime4.0.3. From looking at the graph of the history, it looks like cime4.0.3 was a commit that was created incorrectly in some way.

The particular commit that I'm concerned about is

6dc7705ac82ce131e315b018860a96c034003aa3

but it looks like there may have been other things lost in that tag.

[2015-11-08 12:58] billsacks opened #290 "Many single-processor tests fail with PIO error: "PNETCDF not enabled in the build""
Many single-processor tests – including about half of the tests in the aux_glc test suite – fail with a message like this:

   0: pio_support::pio_die:: myrank=          -1 : ERROR: ionf_mod.F90:         122 : PNETCDF not enabled in the build

SMS_D.f09_g16_gl5.TG.yellowstone_intel gives this traceback:

Image              PC                Routine            Line        Source
cesm.exe

[2015-11-08 14:52] jedwards4b commented on #290
It appears that this is happening only for TG cases and it's because the
mpilib setting is getting changed after the PIO setting is evaluated.
Instead of trying to unravel that problem I made a change in shr_pio_mod
such that if npes==1 then pnetcdf or netcdf4p are replaced by netcdf in the
typename.   Tested with SMS_D.f09_g16_gl5.TG.yellowstone_intel

Fixed by #291

On Sun, Nov 8, 2015 at 5:58 A

[2015-11-09 04:59] rljacob commented on #284
Can you say more about the different ways CAM and POP are adding fields?

[2015-11-09 13:21] billsacks opened #292 "PIO_TYPENAME set incorrectly for TG compsets"
For TG compsets that use a single processor, PIO_TYPENAME (in env_run.xml) is incorrectly set to pnetcdf rather than netcdf, despite the MPILIB (in env_build.xml) being set to mpi-serial. (This may be an issue for other single-processor cases, too, but I have just observed it for TG compsets.)

This causes problems because pnetcdf is not enabled in this build (because it is single-processor? or be

[2015-11-09 16:12] billsacks commented on #292
It looks like the problem is that create_newcase calls

[code]

(which sets the PIO settings)

before it calls

[code]

I see why the machine settings need to be done early in the process. But to me it seems that the PIO settings should be done later.

@jedwards4b has ideas for how to handle this in his big object-oriented overhaul of the scripts – basically, having a two-stage parse.
- Update: At

[2015-11-09 16:20] billsacks commented on #292
Once this is fixed, it would be good to also add a consistency check in the scripts (maybe in the drv build-namelist???): Catch the inconsistency between the build-time setting (pnetcdf not included in build) and runtime setting (trying to use pnetcdf) at build-namelist time and give a meaningful error message to the user (telling them to rebuild with pnetcdf on, or to use netcdf rather than pnetc

[2015-11-09 21:25] #290 closed, assigned to jedwards4b

[2015-11-09 21:30] #247 closed, assigned to sholly

[2015-11-09 23:22] jedwards4b opened #293 "create_clone issues"
When I issue the command
   create_clone -clone $clone -case $case,
the case.run, case.st_archive, and case.lt_archive BSUB lines in $case all retain the name of $clone.  Instead, they should contain the name of $case.

[2015-11-09 23:41] sholly commented on #293
Working on this problem for the ensemble scripts, taking..

[2015-11-10 02:16] billsacks commented on #293
Another possible issue that someone mentioned to me this morning (I have not confirmed): He says that, if you clone a case from a different sandbox, your clone points to the sandbox used from the original case, rather than the sandbox from which you ran create_clone. He says that it used to do the opposite.

I'm not sure if this is a feature or a bug....

[2015-11-10 02:25] jedwards4b commented on #293
It's a bug.  I noticed that as well.

On Mon, Nov 9, 2015 at 7:16 PM, Bill Sacks notifications@github.com wrote:

##

Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2015-11-10 02:31] jedwards4b commented on #151
In env_mach_specific.xml MP_EAGER_LIMIT is being set to 0 again on yellowstone.  I think that the
default should be unset and users should try setting it to 0 if they think they are seeing the memory leak.

[2015-11-10 04:20] mvertens commented on #151
I agree with Jim's recommendation.

On Mon, Nov 9, 2015 at 7:31 PM, jedwards4b notifications@github.com wrote:

[2015-11-10 05:14] quantheory commented on #151
I also agree. A very slim performance advantage for CAM-SE, and the memory leak, are the only reasons to set this variable. I started this issue because I believe that the impact on CAM-FV drastically outweighs both concerns for coupled and F compsets.

[2015-11-10 15:09] mvertens commented on #293
To clarify, I do not think this bug is related to the scripts refactoring -
but has been there all along.

On Mon, Nov 9, 2015 at 7:25 PM, jedwards4b notifications@github.com wrote:

[2015-11-10 17:09] sholly commented on #293
Just asking a question of you all since you have been using the model much longer than I have:
The question is:

If a user clones a case created from, say, cesm1_5_beta01 using create_clone from cesm1_5_beta02, then the cloned case should take on ALL the configuration information from cesm1_5_beta02?

Or just the CIMEROOT and SRCROOT?

Just poking at the can of worms..

[2015-11-10 17:26] njn01 commented on #293
The bug is fairly new, I think.  I used cesm1_4_beta06 create_clone in August, and the job name in the BSUB command in the *.run script had the correct case name in it.

As for the question about mixing tags when using create_clone, I've never tried it, since I have always considered that to be a very dangerous thing to do.

[2015-11-10 17:31] sholly commented on #293
Fixed the original issue with the BSUB case names, create_clone was still trying to remove $CASE.run and so forth instead of case.run.

[2015-11-10 17:59] jedwards4b commented on #293
It should take all the configuration from beta02.  But what is there other
than these?

On Tue, Nov 10, 2015 at 10:09 AM, Jay Shollenberger <
notifications@github.com> wrote:

##

Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2015-11-10 18:03] mnlevy1981 commented on #293
Rewording Jay's question from a couple of comments above mine:

If a user clones a case created from, say, cesm1_5_beta01 using create_clone from cesm1_5_beta02, what should happen?

Possible answers (feel free to add your own if you think my options are incomplete):
- It uses cesm1_5_beta01 settings, like the case being cloned
- It uses cesm1_5_beta02 settings because that is where create_clone l

[2015-11-10 18:10] billsacks commented on #293
I agree with the feeling of others that cloning a case from one model version in a different model version is a dangerous and unpredictable thing to do. I don't know if there is a "right" way to handle this. (This led me down a chain of thought, thinking about a fundamental change in the operation of create_clone: Rather than copying a bunch of stuff from the source case, it backs out what the use

[2015-11-11 01:39] jedwards4b commented on #293
The changes that we are planning will associate the case with the sandbox
from which create_clone is run.  If that is a different sandbox from the
original case we will include a warning in the output of create_clone to
the effect that cloning from one version to another may lead to unexpected
issues and is not officially supported.

On Tue, Nov 10, 2015 at 11:10 AM, Bill Sacks notifications@githu

[2015-11-11 21:50] sholly commented on #73
Fixing this, keeping the old case info, appending create_clone + args to CaseStatus file

[2015-11-11 22:19] sholly commented on #124
fixed in #296

[2015-11-11 22:19] #124 closed, assigned to jedwards4b

[2015-11-11 22:19] sholly commented on #58
fixed in #296

[2015-11-11 22:19] #58 closed, assigned to sholly

[2015-11-11 22:19] sholly commented on #73
fixed in #296

[2015-11-11 22:19] #73 closed, assigned to nobody

[2015-11-11 22:50] jedwards4b opened #299 "tests should make sure stderr is empty or only contains expected output"
The stderr file should be confirmed to be empty by all tests and a fail should be issued if it
has any unexpected contents.

[2015-11-11 23:07] #293 closed, assigned to sholly

[2015-11-11 23:17] billsacks commented on #292
Once this is fixed, we should back out the changes that came in in PRs #291 and #298 : It's confusing to have the code override settings, so we should back out those overrides once they're no longer needed.

[2015-11-12 12:34] billsacks opened #301 "yellowstone pgi tests fail due to lack of pnetcdf"
Using cesm1_5_beta02, with cime at cime4.1.8 (also, cism on a branch https://svn-ccsm-models.cgd.ucar.edu/glc/branch_tags/update_external_2015_11_tags/update_external_2015_11_n01_cism2_1_09, but I don't think that's relevant here): All of the pgi tests I have run fail with:

   5: pio_support::pio_die:: myrank=           -1 : ERROR: nf_mod.F90:          725
   5: : PNETCDF not enabled in the build

[2015-11-12 14:13] jedwards4b commented on #301
This appears to be a system module problem.  I have opened a ticket with
CISL.
You can modify env_mach_specific.xml and change pnetcdf/1.6.0 to
pnetcdf/1.6.1
as a workaround.

On Thu, Nov 12, 2015 at 5:34 AM, Bill Sacks notifications@github.com
wrote:

##

Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2015-11-12 15:54] billsacks commented on #301
Thanks, @jedwards4b , for getting on top of this quickly. Although it isn't a cime problem, I'll leave this open until the machines problem is resolved so others are aware.

[2015-11-12 21:16] billsacks opened #302 "Inconsistent treatment of default cism grid"
For resolutions like f09_g16 and f19_g16, currently a default CISM grid is picked up (gland5UM). However, this is not the case for F compset resolutions (f09_f09, f19_f19, T31_T31).

I looked quickly at what it would take to add this, and it looks like it will take some thought to list the compset regular expressions needed to get this right. So I'm deferring this for now.

This also re-opens the

[2015-11-12 22:00] jedwards4b commented on #302
This took me all of about 5 minutes to add, I feel that your protestations
are unwarranted.

On Thu, Nov 12, 2015 at 2:16 PM, Bill Sacks notifications@github.com
wrote:

##

Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2015-11-13 12:45] billsacks opened #304 "Warning due to uninitialized value in ModuleLoader"
With cime master, many (all?) tests give the following warning when running cesm.setup:

[code]

[2015-11-13 13:03] #302 closed, assigned to nobody

[2015-11-13 16:43] mnlevy1981 opened #305 "create_test doesn't error out with invalid option"
I ran an xml test suite last night (out of cime4.1.2) and wanted to compare to a baseline I had previously made... so I ran

[code]

The issue is that I should have used `-compare` instead of `-baseline`, but instead of telling me I had entered an invalid option the test suite ran happily and then I had to use `baseline_gen_comp` after the fact to actually do the comparison.

Obviously this is not

[2015-11-13 20:57] billsacks commented on #301
This machines issue appears to be resolved.

[2015-11-13 20:57] #301 closed, assigned to jedwards4b

[2015-11-13 22:39] #287 closed, assigned to billsacks

[2015-11-13 22:59] jedwards4b opened #308 "DOUT_S_SAVE_EVERY_NTH_RESTART_FILE_SET doesnt work as expected/needed"
This variable works as advertised on the first pass of the st_archive tool, however it
fails on subsequent passes as it counts from the beginning again instead of from where
it left off.   For example, say run 1 produced 8 output filesets and this variable is set to 4.
So filesets 4 and 8 are saved.  Now in run two adds files 9-16 but the next pass of st_archive
counts the preexisting files 4 and

[2015-11-16 19:55] #304 closed, assigned to sholly

[2015-11-17 02:39] rljacob commented on #242
I agree.  When did -user_pes_setby become a requirement?

[2015-11-17 02:51] billsacks commented on #242
@rljacob : I believe the history is: Prior to cime3, -user_compset led to incorrect PE layouts, because the compset wasn't being picked up correctly in the determination of the PE layout. I believe @mvertens fixed this in cime3 (but I may be remembering the exact version wrong), when she reworked how PE layouts were set. She decentralized the config_pes.xml information at that time, and made it so

[2015-11-18 19:50] jedwards4b opened #310 "Compatibiilty of CIME with XML::LibXML"
I was trying to figure out exactly which version of XML::LibXML we need to run CIME.   That
turns out to be a difficult task.   But what I did find is that there is only one subroutine that is preventing us from being compatible with the installed version on the crays.

That is ->childNodes() .   In most cases all of the childNodes you are looking for with this call are the same node type and so -

[2015-11-18 20:18] #310 closed, assigned to nobody

[2015-11-18 22:07] mnlevy1981 commented on #158
As of cime4.2.0, it's not right on yellowstone -- the "pe count for cost estimate" is listed as the number of tasks \* number of threads and I think we want something a little more complicated to account for hyperthreading and the fact that we are being charged for 16 pes per node even if we are only using 15 MPI tasks on it. For example,

[code]

I am using 13 yellowstone nodes, so my pe count fo

[2015-11-18 22:48] jedwards4b commented on #158
Issue #262 elaborates

[2015-11-23 18:54] #308 closed, assigned to bertinia

[2015-11-25 23:06] ekluzek opened #315 "Add ability for datm to handle GSWP3 data for CLM"
We need to add the ability of the datm to handle GSWP3 data for CLM.

[2015-11-30 17:39] mnlevy1981 opened #316 "Set order that test suite builds / submits?"
The aux_pop_MARBL test suite takes 40 minutes to build / submit 8 tests from a geyser node. Most of these are short, but we do have an ERI test that takes significantly longer than any other test to run (50 minutes instead of 5 or less)... so it would be nice to have that be the first test built and submitted. Currently it's the 5th test built, 20 minutes after the first job is submitted, and I do

[2015-12-01 19:51] mnlevy1981 opened #317 "Submit a single job to manage all archiving needs"
Per discussion from the Nov 30 CSEG meeting, there is currently a long chain of dependencies with some job submissions because the short-term and long-term archivers are submitted as separate jobs but `lt_archiver` needs to wait for `st_archiver` to finish. This is done because CISL has requested that jobs sending data to HPSS use the `hpss` queue. (Additionally, there is a `clobber_archive` scrip

[2015-12-01 19:59] rljacob commented on #317
Are the archiver scripts very tuned to yellowstone/CISL?

[2015-12-01 20:15] jedwards4b commented on #317
They are designed to be portable,

On Tue, Dec 1, 2015 at 1:00 PM, Robert Jacob notifications@github.com
wrote:

##

Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2015-12-01 23:04] ekluzek opened #318 "xmlquery doesn't know how to read the env_batch.xml file"
The env_batch.xml file has an extra level of XML fields. And as such xmlquery doesn't know how to read it. xmlquery assumes a single level of fields with id and value. This is in cime4.2.3. There was an earlier bug where env_batch.xml wasn't in the list of files, and now it's in the list, but it doesn't know how to read it, so it essentially gets ignored.

[2015-12-02 20:33] ekluzek opened #319 "LII_build.csh still uses $case.build needs to now use case.build"
The LII_Build.csh script in cime4.2.3 still uses $case.build it needs to be updated to use case.build.

Here's the fix...

diff --git a/scripts/Testing/Testcases/LII_build.csh b/scripts/Testing/Testcases/LII_build.csh
index 97302cc..1894eb5 100644
--- a/scripts/Testing/Testcases/LII_build.csh
+++ b/scripts/Testing/Testcases/LII_build.csh
@@ -35,7 +35,7 @@ setenv CIMEROOT `./xmlquery CIMEROOT    -v

[2015-12-03 18:27] ekluzek opened #324 "Merge drv_flds_in in driver from different components"
This corresponds to the following bug in CLM:

http://bugs.cgd.ucar.edu/show_bug.cgi?id=2252

In order to make the system robust in dealing with drv_flds_in (which can be created by CAM or CLM) drv_flds_in needs to be deleted from the RUN directory if it exists before the calls to the component buildnml. As it works now, CLM leaves the previous version of the file in place and doesn't replace it e

[2015-12-03 18:31] ekluzek commented on #324
Here's what I have to fix this...

[yongi:~/cime/scripts/Tools] erik% git diff preview_namelists
diff --git a/scripts/Tools/preview_namelists b/scripts/Tools/preview_namelists
index 84b5b29..7e6bec6 100755
--- a/scripts/Tools/preview_namelists
+++ b/scripts/Tools/preview_namelists
@@ -170,6 +170,17 @@ my %dirs   = ( atm => $CONFIG_ATM_DIR, lnd => $CONFIG_LND_DIR, ice => $CONFIG_IC
               o

[2015-12-03 18:40] jedwards4b commented on #324
Erik,

If you are going to provide the fix wouldn't it be better to open a pull
request instead of or as well as an issue?

On Thu, Dec 3, 2015 at 11:31 AM, Erik Kluzek notifications@github.com
wrote:

##

Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2015-12-08 19:22] billsacks opened #329 "Tests should write cpl avghist files in addition to instantaneous"
Currently out tests write instantaneous cpl hist files at the end of the run. It would be helpful if they also wrote avghist files. Ideally these would be averaged over the whole length of the run (AVGHIST_OPTION = STOP_OPTION, AVGHIST_N = STOP_N).

The point of this is: Right now, your component could send different fields in the middle of a run without resulting in baseline failures.

One caveat

[2015-12-09 00:50] rljacob commented on #223
Do you think any cpp commands in file might trigger a re-compile-always?   We're finding that files with #ifdef get recompiled even if nothing changes.

[2015-12-09 05:56] ekluzek commented on #223
Hi Rob

Is this for CLM40 or CLM45 code?

We don't have very many #ifdef's in CLM anymore. I only see three files
with #ifdefs, even in clm40 code.

clm40 code does have dependency on CPP token settings which it does put in
a file. If that's put into the dependency chain that could cause the
behavior you are talking about. But, it should be for everything.

For clm45 we now build it in a shared li

[2015-12-09 23:06] jedwards4b opened #330 "ERP test with ROOTPE > 0"
THE ERP test fails to correct the ROOTPE value when it changes NTASKS AND NTHRDS
this can cause tests with ROOTPE values other than 0 to fail.

[2015-12-10 03:41] rljacob commented on #223
cc'ing @bishtgautam who may have an example.

[2015-12-10 04:22] bishtgautam commented on #223
CLM45 doesn't have CPP tokens, but ALMv1 does. New physics added in ALMv1 requires PETSc and at present that new physics is protected by `#ifdef USE_PETSC_LIB`.

[2015-12-10 17:30] jedwards4b commented on #223
Do you have new #include statements?   shr_assert.h is treated as a special
case in the cime mkDepends script, if you have other #include files you may
need to generalize this or add them to the special cases.

On Wed, Dec 9, 2015 at 9:22 PM, Gautam Bisht notifications@github.com
wrote:

##

Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2015-12-10 17:39] bishtgautam commented on #223
Yes, there are  `#include` statements for PETSc. For e.g.

[code]

[2015-12-11 21:19] dabail10 opened #331 "ATM_NCPL/ICE_NCPL for G Compsets"
We want the default for G compsets to be 24 instead of 48 as in the fully-coupled case. This is a one-liner. Can someone add it as a part of the next CIME tag?

cime/driver_cpl/cime_config/config_compsets.xml
# Index: config_component.xml

--- config_component.xml    (revision 6010)
+++ config_component.xml    (working copy)
@@ -2818,7 +2818,7 @@
       <value compset="_DATM%COPYALL_NPS"    >72</v

[2015-12-11 21:30] jedwards4b commented on #331
This is going to be answer changing for G compsets - can you put it in a
pull request that we can defer until alpha05a?

Thanks

On Fri, Dec 11, 2015 at 2:19 PM, dabail10 notifications@github.com wrote:

##

Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2015-12-11 21:31] dabail10 commented on #331
Ok.

Dave

On Fri, Dec 11, 2015 at 2:30 PM, jedwards4b notifications@github.com
wrote:

##

David A Bailey
 email: dbailey_at_ucar.edu
National Center for Atmospheric Research   phone: 303-497-1737
PO Box 3000
fax  : 303-497-1700
Boulder, CO 80307-3000
                   http://www.cgd.ucar.edu/staff/dbailey

[2015-12-12 15:39] jedwards4b opened #333 "reset_setup called from ConfigPes.pm does not exist"
Uncaught exception from user code:
    Can't locate object method "reset_setup" via package "ConfigCase" at /glade/p/work/jedwards/sandboxes/cesm1_5_alpha/cime/utils/perl5lib/Config/ConfigPes.pm line 30.
 at /glade/p/work/jedwards/sandboxes/cesm1_5_alpha/cime/utils/perl5lib/Config/ConfigPes.pm line 30

[2015-12-14 16:58] billsacks commented on #151
The MP_EAGER_LIMIT problem came up again in an I compset (which is where we have seen big memory leaks in the past). @ekluzek tracked the run's crash down to this MP_EAGER_LIMIT problem, but each time this comes up, it feels like it is wasting considerable time for the scientists involved.

I understand the rationale for no longer setting this to 0 by default. However, in a recent CSEG meeting, we

[2015-12-14 20:33] bertinia opened #334 "create_newcase should check for valid case names"
create_newcase should use the rules defined in the CESM case name conventions doc (http://www.cesm.ucar.edu/models/cesm2.0/casename_conventions_cesm.html) to determine
and reject any requested case names that include the wildcard characters +, *, ?, {, and } because
these characters interfere with some of the regular expression matching in some of the scripts.

[2015-12-14 20:45] mnlevy1981 commented on #334
Maybe I should make a new issue for this, but to piggyback -- it would also be nice if `create_newcase` would check for the validity of the case name and all the arguments BEFORE creating `$CASE`. Currently, if `create_newcase` errors out (you give an invalid compset or resolution or whatever), it does so after it creates the case directory so you need to manually remove it before re-running `crea

[2015-12-16 05:29] ekluzek commented on #151
Here's some documentation on MP_EAGER_LIMIT. From the man page on "poe".

MP_EAGER_LIMIT
         Changes the threshold value for message size, above which
         rendezvous protocol is used.

[code]

And from the table from "IBM PE Runtime Edition" for jobs of 513 to 1024 tasks  the MP_EAGER_LIMIT by default is 8192 Bytes. And under system limits we have this...

MPI uses the MP_BUFFER_MEM and

[2015-12-16 05:31] ekluzek commented on #151
Putting this all together I think both MP_BUFFER_MEM and MP_EAGER_LIMIT should be changed. I'm thinking I'll try MP_BUFFER_MEM=8MB and MP_EAGER_LIMIT of 512.

[2015-12-16 14:14] jedwards4b commented on #151
The issue in question is a bug not a feature and therefore may not perform
as documented.

On Tue, Dec 15, 2015 at 10:31 PM, Erik Kluzek notifications@github.com
wrote:

##

Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2015-12-21 23:21] billsacks opened #341 "Speed up unit test build & run"
The unit test build and run can take longer than I'd like. This is particularly true for CLM, which now has 20 unit test executables; each of these is linked against the CLM library, so whenever you change any CLM code, all 20 need to relink. So the build takes some time due to that. In addition, particularly on yellowstone, the use of mpi-based tests means that each test executable takes more tha

[2015-12-21 23:21] billsacks commented on #341
cc @quantheory @bandre-ucar

[2015-12-22 17:12] jedwards4b opened #342 "history testing cam satellite history files"
The cam satellite history file needs to be included in the baseline and restart tests when written

[2016-01-04 19:03] sholly commented on #256
This work has been finished with the addition of the cimeteststatus script.

[2016-01-04 19:03] #256 closed, assigned to sholly

[2016-01-04 21:57] sholly commented on #82
closed, fixed with #260

[2016-01-04 21:57] #82 closed, assigned to sholly

[2016-01-04 22:00] sholly commented on #89
fixed in #307

[2016-01-04 22:00] #89 closed, assigned to sholly

[2016-01-04 23:09] sholly commented on #157
I was not able to reproduce the issue from cesm1_4_beta07, but the TGHIST test is now failing with unset inputdata, so I am assigning this back to you, Bill... ;)
File status unknown: UNSET/UNSET.cpl.hs2x.0001-01-01.nc

[2016-01-05 21:35] billsacks commented on #157
I cannot reproduce @sholly 's problem from the cesm1_5_alpha04 branch:

[code]

[2016-01-05 21:35] #157 closed, assigned to billsacks

[2016-01-06 21:14] mnlevy1981 opened #349 "prestager no longer pulls down files from inputdata repository?"
When building a case on hobart, the output contained

[code]

And when I submit the job, POP errors out when it tries to read the above file because it doesn't exist. Shouldn't the scripts try to pull it down from the inputdata SVN repository and then the script errors out if the file wasn't available? (I have since imported it to inputdata, and will manually copy it to hobart... but reporting the

[2016-01-06 21:51] jedwards4b commented on #349
I tried reproducing the problem by intentionally setting one of the input files to something that doesn't exist.   It seems to work fine...

[code]

Attempting to download missing data
svn: URL 'https://svn-ccsm-inputdata.cgd.ucar.edu/trunk/inputdata/ocn/pop/gx1v6/forcing/shf_mm_all_85-88_20010308.nc' non-existent in that revision
File was not found in svn repo: https://svn-ccsm-inputdata.cgd.ucar

[2016-01-22 18:09] ekluzek opened #364 "shr_streams prints output to log file for each task"
This is true of shr_stream_mod and probably other shr code. It prints a bunch of garbage output repeated for each task to the cesm.log file which makes the file harder to parse. This is because it doesn't check either logLevel or iamroot before some write statements. Such as...

   write(s_logunit,F00) 'Reading file ',trim(infoFile)

in shr_stream_init

If it would at least check the log level you

[2016-01-27 20:54] ekluzek opened #366 "Add BARRIER_OPTION/BARRIER_N to driver"
With some testing we found that adding a daily barrier for I compsets with a concurrent layout (at f09) gives good performance compared to other options (setting COMP_RUN_BARRIERS=TRUE, changing the PE layout, and using MPI options such as MP_EAGER_LIMIT). As such we would like to add new namelist options to the driver

BARRIER_OPTION
BARRIER_N

which would turn on a barrier at the above given fre

[2016-01-28 21:06] apcraig commented on #49
I am testing cesm1_5_beta04 and am finding that all jobs on yellowstone have a walltime of 12 hours, even small X configurations.   this seems to be related to the cost estimate which is no longer working properly in the system as far as i can tell.  That cost estimate is used by the batch xml to set the wall time.  I have been manually reducing the wall times in env_batch.xml, but this will have

[2016-01-28 21:15] billsacks commented on #49
@apcraig : @jedwards4b introduced a -walltime argument to create_test, so that you can at least set the max wallclock time for tests. That said, I'd still like to see a change so that the default is 2:00 for tests, since I often forget to give the -walltime argument.

[2016-01-28 21:25] apcraig commented on #262
There is an env variable called PES_PER_NODE.  If you look at the documentation, the purpose of that is "pes or cores per node for accounting purposes".  What you want to do is set that to 16 for yellowstone and then the "cost" should be associated with nodes*${PES_PER_NODE}.  That's exactly what that PES_PER_NODE is there for.  If it's being used for something else now, we need to fix that.  The

[2016-01-29 00:25] jedwards4b commented on #49
It's coming.

On Thu, Jan 28, 2016 at 2:15 PM, Bill Sacks notifications@github.com
wrote:

##

Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2016-02-08 19:51] ekluzek commented on #366
Adding Tony as assignee for this, since he said he would take this on.

[2016-02-17 00:43] quantheory opened #371 "config_compilers => config_build"
I have [a Google doc](https://docs.google.com/document/d/1LtWHyv5Mp5_5JmIC-_svlwfulF0ke1yvDmo2KQnC4cQ/edit?usp=sharing) that presents the overall status of the config_compilers refactoring I've been doing. I renamed the file to config_build (partly because it's not limited to compiler stuff, and partly just so that I could put it in the same directory as an old config_compilers file!), and changed

[2016-02-17 00:44] quantheory commented on #43
I am closing this in favor of #371, which encompasses this issue and much more.

[2016-02-17 00:44] #43 closed, assigned to nobody

[2016-02-18 21:09] billsacks commented on #146
Another example of a test that would be good to have: turning on carbon isotopes in CLM should not (I think) affect any of the standard outputs. This would have caught http://bugs.cgd.ucar.edu/show_bug.cgi?id=2207

[2016-02-19 17:13] mnlevy1981 commented on #146
I'm just catching up on this issue, and noticed your comment from September

This is a feature that @klindsay28 has been asking for for a while, and seems to also solve your issue from yesterday: add a testmod dir to turn on carbon isotopes, compare to a run without carbon isotopes. (I think that's what you were implying with your comment, but I figured I'd come out and say it explicitly.)

So the

[2016-02-24 22:36] #112 closed, assigned to ekluzek

[2016-02-24 22:37] ekluzek commented on #112
Description was shortened by Mariana in 2015-07-11

[2016-02-24 22:38] #319 closed, assigned to ekluzek

[2016-02-24 23:21] ekluzek commented on #366
Tony implemented this into cime on2016-02-10

[2016-02-24 23:21] #366 closed, assigned to apcraig

[2016-02-25 22:40] jedwards4b opened #378 "case built with user_compset should match case built with compset alias"
./create_newcase -case usercase -user_compset 1850_CAM55_CLM50%BGC_CICE_POP2%ECO_MOSART_CISM1%NOEVOLVE_SWAV_BGC%BDRD  -res f09_g16 -mach yellowstone -user_pes_setby allactive

cd /glade/p/work/hannay/cesm_tags/cesm1_5_beta03_cntlexp05/cime/scripts
./create_newcase -case defaultcase -compset B1850  -res f09_g16 -mach yellowstone -user_pes_setby allactive

Should give the same result, but create_new

[2016-02-26 23:38] jedwards4b opened #379 "xml_schema path incorrect in create_newcase"
The path to file archive.xsd is incorrect at line 908

[2016-02-26 23:48] jedwards4b commented on #379
Oops - this turns out to be a cut and paste error on my part, please ignore.

[2016-02-26 23:48] #379 closed, assigned to bertinia

[2016-03-01 21:43] jedwards4b opened #382 "ERR test doesn't assure that restart actually worked"
The ERR test is designed to test restart capability with short term archiving.  It does the following:
Runs a 5 day test with restart at day 3
archives
Runs a 2 day test restarting from the day 3 restart files and compares the results.

If the variable COMP_RUN_BARRIERS is true then the CONTINUE_RUN flag is not toggled from FALSE to TRUE and this test just does two initial runs.

It's not clear fr

[2016-03-02 17:48] bertinia opened #384 "NCR test fails at runtime and has never successfully run on yellowstone / intel"
Here is the email thread between Jim and Tony regarding this issue. Added this information as
a CIME issue for better tracking:
Hi Tony,

I'm looking closely at the NCR test and I don't see how it can ever work, or what it's intended to do.

Tests that do two builds must assure that both builds use the same number of total mpi-tasks or they won't work.   This test doesn't seem to follow that rule

[2016-03-02 18:21] bertinia opened #385 "review queue and wallclock time for cori and edison tests"
The tests on cori are taking a long time (up to 5 days) to get through the regular queue. Cori and edison
currently run the same set of tests so changing the queue and / or wallclock times will affect both system tests. Should we separate cori and edison in the testlists so we can tune specific tests according to machine? We can look at the current set of timings for both machines using with the c

[2016-03-02 19:09] billsacks opened #386 "Should have different RESUBMIT xml variable for use with timing tests"
https://github.com/CESM-Development/cime/pull/383 and other related recent discussion has highlighted the very unintuitive connection between COMP_RUN_BARRIERS and RESUBMIT. The documentation that @jedwards4b added in https://github.com/CESM-Development/cime/pull/383 helps a bit in this respect, but I still dislike the unintuitiveness of this connection, requiring expert knowledge to understand an

[2016-03-02 19:10] billsacks commented on #386
@jedwards4b @apcraig @ekluzek : I'm curious what you think about this proposal.

[2016-03-02 19:13] billsacks commented on #384
I looked at the cseg notes, and found:

[2016-03-02 19:19] bandre-ucar commented on #386
Remove:

[code]

Add:

[code]

[2016-03-02 19:20] mnlevy1981 commented on #386
Maybe the variable can just be named `REPEAT` or `REPEAT_NOT_CONTINUE`? And when you are checking for errors, it seems like `CONTINUE_RUN` needs to be `FALSE` if `REPEAT` is non-zero?

[2016-03-02 21:14] apcraig commented on #386
This all seems so complicated.  I think what we should do is just hide the COMP_RUN_BARRIERS feature, or maybe change it's name to TIMING_ONLY_FLAG or FINEGRAIN_TIMING_OUTPUT or something.  The COMP_RUN_BARRIERS is something that is largely a cseg thing, in my opinion, and is an expert only feature.  I think it's fine to continue to have RESUBMIT depend on that flag.  I think the main thing is jus

[2016-03-02 23:24] billsacks commented on #386
@apcraig : I disagree with your statement:

I see no fundamental reason why RESUBMIT should depend on COMP_RUN_BARRIERS, and I feel like it makes the operation of the scripts unintuitive and error-prone to have these connected.

As just one example: I might want to do a set of timing runs with COMP_RUN_BARRIERS=FALSE, but as it stands I cannot take advantage of the "RESUBMIT without setting CONTIN

[2016-03-02 23:58] apcraig commented on #386
I think it's more complicated because there are more variables and more dependencies and more checks anc compares are required.  I also don't understand why this is suddenly so critical.  This feature has been there for 10 years and it's rarely used.

It's also important to understand what else COMP_RUN_BARRIERS does.  It barriers each run call for every model and then writes the time for each run

[2016-03-03 02:51] billsacks commented on #386
Tony, your final suggestion is fine with me. For the record, I'm also fine with the suggestions made by @mnlevy1981 and @bandre-ucar .

I wouldn't say this is suddenly "critical", but I opened this issue in response to the major bug caused by CLM improperly setting COMP_RUN_BARRIERS - which triggered the logic that made RESUBMIT not set CONTINUE_RUN, which took people a few days to track down. As

[2016-03-04 22:46] ekluzek opened #389 "Need to pass surface Ozone to land model"
For Ozone damage in plants for CLM, we need to allow passing surface concentration of Ozone in driver.

One implementation of that adds this bit of code in seq_flds_mod.F90
! in the future, move this to be with the state variables, not fluxes as here
     ! ozone concentration (mol/mol)
     call seq_flds_add(a2x_fluxes,"Faxa_ozone")
     call seq_flds_add(x2l_fluxes,"Faxa_ozone")
     longname =

[2016-03-04 22:54] ekluzek opened #390 "Optionally pass ozone from datm to coupler"
We need the optional ability to pass surface ozone from datm to the coupler. This also goes with #389 for the driver. Here's a sample streams file that deals with ozone

[code]

[2016-03-04 23:04] ekluzek commented on #390
Changes for CLM are documented in bugzilla in 2294.

[2016-03-07 17:10] billsacks commented on #386
To summarize the options on the table (for the sake of the upcoming CSEG meeting discussion):

(1) Do nothing: Continue to have RESUBMIT's behavior depend on COMP_RUN_BARRIERS (possibly renaming that xml variable)

(2) Get rid of this feature entirely

(3) Have two resubmit variables: one that sets CONTINUE_RUN, one that does not
(3a) Keep "RESUBMIT", add RESUBMIT_WITHOUT_CONTINUE_RUN, NUMBER_ADDI

[2016-03-07 19:00] billsacks commented on #386
Feeling from CSEG meeting is to go with option 4:

[2016-03-07 22:48] #385 closed, assigned to fischer-ncar

[2016-03-07 22:49] #386 closed, assigned to jedwards4b

[2016-03-11 17:41] fvitt opened #394 "alias naming convention"
Is there a guide anywhere on the convention used to name compset aliases?
Is see there is an alias "F1850W" and an alias "B1850W".  The "W" in these 2 aliases mean something entirely different.  In one it indicates WACCM and the other it seems to indicate WAV model (or something else).

[2016-03-11 17:43] fvitt commented on #394
We will be adding more B compsets for WACCM and CAMChem and it would be nice to know how to name the aliases.

[2016-03-16 22:57] mnlevy1981 opened #395 "build-namelist reads XML variables from files, but doesn't abort if variable not found"
Some users copy "known good" versions of XML files from case to case. A recent CIME update added three variables to `env_run.xml` relating to the barrier settings (presumably to go along with the `COMP_RUN_BARRIERS` option). These three new variables are read in by the coupler's `build-namelist` and values in `drv_in` are set accordingly... however, if these variables are not present in the XML fi

[2016-03-17 17:02] ekluzek commented on #395
Mike

All that we need to do to catch this is to add

$definition->validate($nl);

before the namelist is written out by the driver. We do this in CLM and
probably other models as well.

_Erik Kluzek, (CGD at NCAR)_

_National Center for Atmospheric Research_

*Boulder CO, *

_(off) (303)497-1326 (fax) (303)497-1348_

_(skype) ekluzek    (cell) (303)859-0183_

_Pronouns: he/his/him_

_------------

[2016-03-18 20:08] billsacks opened #396 "user_compset broken"
With cesm1_5_alpha06c, with cime at the current master:

[code]

This works if I use a compset for which there is an alias defined (changing CLM50 to CLM45 in this case). But it appears that the user_compset functionality doesn't work for compsets where the alias is not defined anywhere.

[2016-03-19 00:12] fvitt opened #397 "MAX_TASKS_PER_NODE and PES_PER_NODE compset dependent"
Is there a way to set the defaults of MAX_TASKS_PER_NODE and PES_PER_NODE differently depending on compest?   On yellowstone we would like MAX_TASKS_PER_NODE to default to 32 and PES_PER_NODE to default to 16 for some waccm compsets at 1-degrees rather than 30 and 15, respectively.

[2016-03-19 00:22] jedwards4b commented on #397
This change is on the exp branch and I think that Bill Sacks is bringing it
to the trunk soon.

On Fri, Mar 18, 2016 at 6:12 PM, fvitt notifications@github.com wrote:

##

Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2016-03-19 12:25] billsacks commented on #397
Yes, see PR #398

[2016-03-25 12:48] billsacks opened #400 "Inconsistency and error in allactive compsets"
Looking briefly at cime_config/cesm/allactive/config_compsets.xml, I see an inconsistency that feels confusing to me:

B1850 uses CLM50%BGC, but the other B compsets use CLM50%BGC-CROP

and what looks like an error:

[code]

I don't think CLM50%CROP is even possible -- you should do CLM50%BGC-CROP. If this runs as is (with CLM50%CROP), the CLM group should know about this so it can be stopped in e

[2016-03-25 16:49] billsacks opened #401 "OCN_NCPL differs for CLM4 vs. CLM5"
I noticed the following in driver_cpl/cime_config/config_component.xml:

[code]

Notice that OCN_NCPL depends on whether you're using CLM4! I assume this is unintentional, but would like comments from someone who understands the intended behavior.

[2016-03-25 16:49] billsacks commented on #401
cc @jedwards4b @apcraig @mvertens @ekluzek

[2016-03-25 16:59] billsacks opened #402 "compset matches in driver's config_component should be made more general"
Many of the compset matches in driver_cpl/cime_config/config_component.xml seem fragile, especially if we want this same file to work for a variety of active components. Examples are the various NCPL settings and CPL_SEQ_OPTION.

It feels like there references here to specific component names should mostly be eliminated (although it looks like they may be needed in some cases - e.g., to distinguis

[2016-03-25 16:59] billsacks commented on #402
cc @jedwards4b @mvertens @apcraig

[2016-03-25 17:59] billsacks commented on #402
Things like this also concern me (for CCSM_BGC):

[code]

What if someone introduces a new DATM mode? It's so easy to miss the fact that you need to update the driver's config_component for things like this.

I often wish that we didn't have the ability to have regular expression matches against compset at all in these xml files, but instead required that components set various pieces of metadata

[2016-03-25 19:08] billsacks opened #403 "ConfigPes.pm fails to find some matches"
In creating a new "J" compset, I added the following to the bottom of cime_config/cesm/allactive/config_pes.xml:

[code]

However, ConfigPes.pm seemed not to find this block. It gave the following output:

[code]

If I understand this code correctly, what's happening is the following:
- ConfigPes tries to find the most specific match in terms of grid and mach
- In this case, there are some blocks

[2016-03-25 21:45] billsacks commented on #401
@mvertens says this isn't important (OCN_NCPL is irrelevant in an I compset), so closing this as a wontfix. Maybe we can come back to it in the context of issue #402

[2016-03-25 21:45] #401 closed, assigned to nobody

[2016-03-25 21:52] billsacks commented on #403
In talking this through with @mvertens , I believe what needs to be done is that the parsing of config_pes.xml should be split into two stages:

(1) Find all possible matches for the current case. This stage would consider all attributes (grid, mach, pesize and compset) together. Settings of "any" would match anything.

(2) Of the possible PE layouts identified in stage (1), pick the "best match".

[2016-03-25 21:55] billsacks commented on #240
see also issue #402

[2016-03-25 22:04] billsacks commented on #402
In talking this through with @mvertens, we feel that there are a few things going on here that should be addressed at some point. This isn't critical, but will be important to address if we want the driver to be more component-independent:
- We should get rid of regular expression matching in the xml files, since this is error-prone. Instead, the compset long name should be split into pieces, and

[2016-03-25 23:05] rljacob commented on #402
I think these discussions should be moved to ESMCI/cime because I don't think everyone who may want to weigh in on this sees issues in CESM-Development.

[2016-03-26 02:08] billsacks commented on #402
Closing this and moving it to ESMCI/cime#119

[2016-03-26 02:08] #402 closed, assigned to nobody

[2016-03-29 18:55] #396 closed, assigned to fischer-ncar

[2016-03-31 16:57] bertinia opened #412 "st_archive incorrectly matches filenames for hybrid or branch runs"
If there are more than just the $CASE.*.nc files in the rundir,  st_archive incorrectly matches
the *.cpl.r.*.nc filename to extract the last date field because it looks at the hybrid casename as well
and consequently, creates incorrect rest sets in the $DOUT_S_ROOT/archive/$CASE/rest dir.

[2016-04-01 22:10] #412 closed, assigned to bertinia

[2016-04-04 16:54] billsacks opened #416 "Change some thresholds in check_maps to make it give fewer false positives"
I ran into some check_map failures when creating a bunch of mapping files between coarse-resolution global grids (nearly all failures were for the 10x15 deg FV grid; one was for ne16) and the regional Greenland glacier grid. It seems like tolerances are too tight in this case. However, I don't want to relax tolerances so much as to reduce these tests' power for more typical cases.

Problems fell i

[2016-04-04 16:55] billsacks commented on #416
Response from @mnlevy1981:

Thanks for pointing these issues out.

For the changing error bounds, I think the ideal solution would be to
have the bounds be a function of resolution (defined by min(# of cells
in grid 1, # of cells in grid 2) for global grids?), but I don't know
what sort of relationship to expect. The current bounds were taken by
running the check_maps script on a large subset of t

[2016-04-13 15:14] billsacks commented on #72
This just caused some scientists a few days of lost time... we should try to fix it for the cesm2 release.

[2016-04-13 18:42] mvertens commented on #72
This should be fixed in the next CIME tag that gets brought in.

[2016-04-13 18:45] mvertens commented on #72
Tony, if you could take this one on, given your expertise in the shr_stream code, that would be great.

[2016-04-14 18:33] jedwards4b opened #420 "running case.st_archive and case.lt_archive as standalone"
case.st_archive and case.lt_archive cannot currently be run as standalone scripts because
walltime, queue and project are added by the case.submit.    One way to fix this would be to
add options to case.submit to submit only st_archive or lt_archive

[2016-04-23 20:38] ekluzek opened #427 "Most of the time in strdata time interpolation is spent in getting the factors..."
csm_share/shr/shr_strdata_mod.F90 spends too much time in getting the factors for the time-interpolation. This is for the ndep stream in CLM which is annual data, so the reads are minimal. Getting the factors is more expensive than actually doing the time-interpolation on the array.

ndepdyn_strd_adv_total                              1.0e+07    540     7.555     0.485     9.827 (   489)     7.386

[2016-04-25 15:59] fischer-ncar opened #429 "num_inst_esp must be 1, but isn't for NCK tests"
I'm getting the follow error messages for NCK tests.

   5: ERROR: (seq_mct_drv) ERROR: num_inst_esp must be 1
   5:Image              PC Routine            Line        Source
   5:cesm.exe           00000000039CD09D Unknown               Unknown  Unknown
   5:cesm.exe           00000000032A7C96 shr_sys_mod_mp_sh         401  shr_sys_mod.F90
   5:cesm.exe           000000000041B412 cesm_comp_mod_m

[2016-04-25 16:04] fischer-ncar opened #430 "NTASKS_ESP undefined causing some compset to not build"
I'm getting NTASKS_ESP: Undefined variable, then the build fails.  Here's a lists of tests that failed.

ERP_Ld3.f19_f19.FW5SC.yellowstone_intel.cam-outfrq3d.GC.c1_5_a6h_int
ERP_Ln9.f09_f09.FC55CLUBB.yellowstone_intel.cam-outfrq9s.GC.c1_5_a6h_int
ERP_Ln9.f19_f19.FC4AQUAP.yellowstone_intel.cam-outfrq9s.GC.c1_5_a6h_int
ERP_Ln9.f19_f19.FMOZMAM.yellowstone_intel.cam-outfrq9s.GC.c1_5_a6h_int
ERP_Ln9.f1

[2016-04-25 16:35] fischer-ncar commented on #430
Something that might be related to this issue are these warning message

No Match found for NTASKS_ESP, using 180 at /glade/u/home/fischer/code/cesm1_5_alpha06h/cime/utils/perl5lib/Config/ConfigPes.pm line 317.
No Match found for NTHRDS_ESP, using 2 at /glade/u/home/fischer/code/cesm1_5_alpha06h/cime/utils/perl5lib/Config/ConfigPes.pm line 321.
No Match found for ROOTPE_ESP, using 0 at /glade/u/ho

[2016-04-25 21:30] gold2718 commented on #430
I am testing fixes for this and related issues (a few instances of ESP settings were left out of the of the test build scripts). However, I have not modified the entries in the <cime>/scripts/Testing/t directory. Is that being used anymore?

[2016-04-26 14:12] gold2718 commented on #429
I fixed this by removing the num_inst_esp == 1 requirement for now. Also, found and fixed ESP configuration omissions in some build scripts (including NCK).

[2016-04-26 15:23] fischer-ncar opened #431 "PGI issues with seq_infodata_mod.F90"
PGI is failing to build seq_infodata_mod.F90, this was building fine before the ESP code was merged in.  This is failing for PGI 15.10 and 16.1.

**\* glibc detected **\* /glade/u/ssg/ys/opt/pgi/15.10/linux86-64/15.10/bin/pgf901: free(): invalid next size (fast): 0x000000000242fb00 ***
recipe for target 'seq_infodata_mod.o' failed gmake: **\* [seq_infodata_mod.o] Error 127

[2016-04-26 15:29] #429 closed, assigned to gold2718

[2016-04-26 15:47] gold2718 commented on #430
Fixed via pull request #428

[2016-04-26 15:47] #430 closed, assigned to gold2718

[2016-04-27 15:47] jedwards4b commented on #20
This should be moved to a wiki page and closed as an issue.

[2016-04-27 15:51] billsacks commented on #22
According to @jedwards4b : This has been fixed in the python. In the python, tests are labeled as PEND either if they're either in the queue or running.

@mnlevy1981 suggests differentiating: QUEUED and RUNNING or something like that.

[2016-04-27 15:52] jedwards4b commented on #27
Fixed - yeah

[2016-04-27 15:52] #27 closed, assigned to nobody

[2016-04-27 15:56] billsacks commented on #38
@mnlevy1981 also suggests checking length of case name

[2016-04-27 15:57] billsacks commented on #38
Should add a test in ESMCI for this

[2016-04-27 15:59] billsacks commented on #39
This may already be fixed; need to check this

[2016-04-27 16:00] billsacks commented on #40
@jedwards4b has fixed this in the python: can create a directory in which you put config_machines and config_compilers.

[2016-04-27 16:07] jedwards4b commented on #48
For cesm2 we will add a rpointer reconstruction tool in esmci and deal with unique names post cesm2.

[2016-04-27 16:10] jedwards4b commented on #49
Default time for run script is maximum wallclock for the given queue.   Defaults for tests are tunable.  In both cases user can now adjust wallclock time at runtime

[2016-04-27 16:10] #49 closed, assigned to nobody

[2016-04-27 16:12] jedwards4b commented on #52
assign to dave bailey

[2016-04-27 16:15] jedwards4b commented on #53
bonus points piece is complete.  needs to be tested in python

[2016-04-27 16:17] jedwards4b commented on #54
@fvitt I think that this is fixed, please close if you agree.

[2016-04-27 16:18] jedwards4b commented on #56
To be addressed in python

[2016-04-27 16:20] #57 closed, assigned to nobody

[2016-04-27 16:24] jedwards4b commented on #60
We have a verbose option in the python but I don't it gives the same functionality.  Do we need another option?   --user-summary ?

[2016-04-27 16:25] billsacks commented on #60
Once this is in cime's preview_namelists, we'll open tickets for components to listen to this flag and act appropriately.

[2016-04-27 16:28] billsacks commented on #66
Re-merge #118 when we can bring in answer changes.

[2016-04-27 16:28] #67 closed, assigned to nobody

[2016-04-27 16:30] jedwards4b commented on #68
Python version has enhanced documentation of usage of this flag.

[2016-04-27 16:30] #68 closed, assigned to nobody

[2016-04-27 16:47] ekluzek commented on #56
@billsacks  and I talked about this and I just need to change the name of the second case so that it's labeled SSP (the new desired name is SPL for spinup Land -- there is a SPO case for the ocean). I want to make sure the second case is the one that is saved and compared because you could do something to screw it up, but still have the first case compare exactly.

[2016-04-28 15:16] #431 closed, assigned to gold2718

[2016-04-28 19:17] Katetc commented on #20
Started the Wiki page at: https://github.com/CESM-Development/cime/wiki/CESM-Software-and-Operating-System-Requirements

[2016-04-28 19:17] #20 closed, assigned to Katetc

[2016-05-04 15:36] billsacks commented on #70
@ekluzek : do we still want this done, and fixed for cesm2?

[2016-05-04 15:39] klindsay28 commented on #156
I am encountering situations where compare_namelists.pl reports FAIL when a namelist variable has been added. The script sometimes reports PASS and sometimes reports FAIL. This inconsistency makes it challenging to interpret output from the script. The csh commands below demonstrate this behavior.

I'm using CIME 4.4.8. It looks like the script hasn't changed in more recent versions of CIME.

PASS

[2016-05-04 15:40] billsacks commented on #77
@ekluzek - should this be a priority for cesm?

[2016-05-04 15:41] billsacks commented on #78
@ekluzek - should this be done for cesm2?

[2016-05-04 15:42] billsacks commented on #80
Jim thinks this is fixed already.

[2016-05-04 15:42] #80 closed, assigned to nobody

[2016-05-04 15:45] billsacks commented on #83
Jim thinks this has been fixed.

[2016-05-04 15:45] #83 closed, assigned to nobody

[2016-05-04 15:52] billsacks commented on #85
@fischer-ncar says that the main remaining issue seems to be RTM.

@apcraig suggests that we figure out the current max allowed length. Then we can test for that in the scripts.

[2016-05-04 15:54] billsacks commented on #90
@gold2718 - we're assigning this to you... but it may already be addressed to some extent now that data assimilation is in cime.

[2016-05-04 15:56] billsacks commented on #91
@jedwards4b points out that check=all is pretty noisy. We'll try to set equivalent debug flags to what we do for (e.g.) intel.

[2016-05-04 16:02] billsacks commented on #94
@ekluzek and @bandre-ucar - should this be fixed for cesm2?

[2016-05-04 16:02] ekluzek commented on #77
I think we should do this and make it happen for cesm2.

_Erik Kluzek, (CGD at NCAR)_

_National Center for Atmospheric Research_

*Boulder CO, *

_(off) (303)497-1326 (fax) (303)497-1348_

_(skype) ekluzek    (cell) (303)859-0183_

_Pronouns: he/his/him_

_------------------ Home page ------------------------_
- ```
       http://www.cgd.ucar.edu/~erik <http://www.cgd.ucar.edu/~erik>*
[code]

  h

[2016-05-04 16:03] ekluzek commented on #78
I think so.

_Erik Kluzek, (CGD at NCAR)_

_National Center for Atmospheric Research_

*Boulder CO, *

_(off) (303)497-1326 (fax) (303)497-1348_

_(skype) ekluzek    (cell) (303)859-0183_

_Pronouns: he/his/him_

_------------------ Home page ------------------------_
- ```
       http://www.cgd.ucar.edu/~erik <http://www.cgd.ucar.edu/~erik>*
[code]

  https://staff.ucar.edu/users/erik*

_!!!!!!!!

[2016-05-04 16:03] billsacks commented on #95
@ekluzek - should this be fixed for cesm2?

[2016-05-04 16:05] ekluzek commented on #70
This is really just a consistency issue. It makes the scripts more uniform
and easy to understand. But, it's not something really required.

_Erik Kluzek, (CGD at NCAR)_

_National Center for Atmospheric Research_

*Boulder CO, *

_(off) (303)497-1326 (fax) (303)497-1348_

_(skype) ekluzek    (cell) (303)859-0183_

_Pronouns: he/his/him_

_------------------ Home page ------------------------_
- `

[2016-05-04 16:07] billsacks commented on #98
@ekluzek - should this be fixed for cesm2?

[2016-05-04 16:08] billsacks commented on #99
@ekluzek - should this be fixed for cesm2?

[2016-05-04 16:08] ekluzek commented on #85
​The latest version of MOSART and RTM has this fixed. They are scheduled to
come in the beta tag after the current one being worked on.

I think the current limit might be in CLM which I think is 199 characters
right now as we had trouble moving it to 255.

_Erik Kluzek, (CGD at NCAR)_

_National Center for Atmospheric Research_

*Boulder CO, *

_(off) (303)497-1326 (fax) (303)497-1348_

_(skype)

[2016-05-04 16:09] billsacks commented on #101
@ekluzek - should this be fixed for cesm2?

[2016-05-04 16:09] ekluzek commented on #98
Yes.

_Erik Kluzek, (CGD at NCAR)_

_National Center for Atmospheric Research_

*Boulder CO, *

_(off) (303)497-1326 (fax) (303)497-1348_

_(skype) ekluzek    (cell) (303)859-0183_

_Pronouns: he/his/him_

_------------------ Home page ------------------------_
- ```
       http://www.cgd.ucar.edu/~erik <http://www.cgd.ucar.edu/~erik>*
[code]

  https://staff.ucar.edu/users/erik*

_!!!!!!!!!!!!!!!

[2016-05-04 16:10] billsacks commented on #102
@ekluzek - should this be fixed for cesm2?

[2016-05-04 16:10] ekluzek commented on #99
Yes.

_Erik Kluzek, (CGD at NCAR)_

_National Center for Atmospheric Research_

*Boulder CO, *

_(off) (303)497-1326 (fax) (303)497-1348_

_(skype) ekluzek    (cell) (303)859-0183_

_Pronouns: he/his/him_

_------------------ Home page ------------------------_
- ```
       http://www.cgd.ucar.edu/~erik <http://www.cgd.ucar.edu/~erik>*
[code]

  https://staff.ucar.edu/users/erik*

_!!!!!!!!!!!!!!!

[2016-05-04 16:10] billsacks commented on #103
Looks like this was fixed in #178

[2016-05-04 16:10] #103 closed, assigned to nobody

[2016-05-04 16:12] billsacks commented on #104
@ekluzek - was this fixed? if not, should this be fixed for cesm2?

[2016-05-04 16:16] billsacks commented on #110
@jedwards4b says that the infrastructure to do this is in the python. However this isn't high priority for cesm2.

[2016-05-04 16:17] billsacks commented on #110
Addressing this will mostly require changes in components' build-namelist

[2016-05-04 16:18] billsacks commented on #119
This still needs to be cleaned up - remove logan references in config_compilers.

[2016-05-04 16:21] billsacks commented on #121
@jedwards4b suggests assigning @mvertens

[2016-05-04 16:21] billsacks commented on #126
@jedwards4b says this is fixed - e.g., hobart now works.

[2016-05-04 16:21] #126 closed, assigned to nobody

[2016-05-04 16:22] billsacks commented on #136
I'll check if this is fixed in the python

[2016-05-04 16:23] ekluzek commented on #104
We should fix this for cesm2.

_Erik Kluzek, (CGD at NCAR)_

_National Center for Atmospheric Research_

*Boulder CO, *

_(off) (303)497-1326 (fax) (303)497-1348_

_(skype) ekluzek    (cell) (303)859-0183_

_Pronouns: he/his/him_

_------------------ Home page ------------------------_
- ```
       http://www.cgd.ucar.edu/~erik <http://www.cgd.ucar.edu/~erik>*
[code]

  https://staff.ucar.edu/user

[2016-05-04 16:25] billsacks commented on #144
Feeling is that this should be reported, but maybe labeled differently from a FAIL?

[2016-05-04 16:28] billsacks commented on #146
I'll check to what extent this is addressed in the python

[2016-05-04 16:29] billsacks commented on #39
@jedwards4b or @apcraig should check whether this has been addressed already

[2016-05-04 17:00] mnlevy1981 commented on #156
I ran my updated `compare_namelists.pl` tool through Keith's script and both tests pass:

Keith's PASS:

[code]

Keith's FAIL:

[code]

[2016-05-05 16:13] fischer-ncar opened #439 "ESMF test fails with ESP error"
ERS_E_Ld7.f19_g16.B1850.yellowstone_intel.allactive-defaultio.GC test is failing with the following
error message.

106: In esp register routine
106:MCT::m_AttrVect::indexRA_:: ERROR--attribute not found: "area" Traceback:
106:aa area -MCT::m_AttrVect::indexRA_
106:MCT::m_AttrVect::indexRA_:: ERROR--attribute not found: "aream" Traceback:
106:aa aream-MCT::m_AttrVect::indexRA_

[2016-05-05 18:50] gold2718 commented on #439
Is there a tag which exhibits this bug? What checkout do I use?

[2016-05-05 19:00] fischer-ncar commented on #439
Use https://svn-ccsm-models.cgd.ucar.edu/cesm1/alphas/tags/cesm1_5_alpha06i/

[2016-05-09 17:34] billsacks commented on #144
Decision in CSEG meeting: We'll have cprnc report a warning if fields have been either added or removed.

[2016-05-09 19:01] #156 closed, assigned to jedwards4b

[2016-05-09 19:03] #119 closed, assigned to fischer-ncar

[2016-05-09 19:10] billsacks commented on #144
I have addressed the cprnc side of this issue in #442

After that change comes to master, we'll still need to do the following:
1. Make changes to the system test scripts to parse the new output
2. Update and rebuild cprnc on all test platforms. Note that many of these likely still point to the old svn repository; for these, we'll need to add a clone of cime, and update the cprnc path in config_ma

[2016-05-09 19:15] mnlevy1981 commented on #144
I think we should do the following:
1. Rename the existing `cprnc` checkout as `cprnc.old` (or delete it altogether)
2. `svn co https://github.com/CESM-Development/cime/trunk/tools/cprnc`

No need to clone the entire CIME repo just to access `cprnc` when github gives us SVN hooks

[2016-05-10 15:56] bertinia opened #444 "add python script to script/Tools that creates a complete restart set of files for a case"
Modify Matt Long's cesm_restart_pkg.py script to generate a complete CESM restart
directory. The current script had the following hardcoded values that need to
turned into command line arguments (examples below):
    refcase = 'b.e15.B1850.f09_g16.pi_control.all.59'
    refroot = '/glade/p/cesm0005/archive/'+refcase
    date = datetime(4,1,1)
    pathout = '/glade/scratch/aliceb/b.e15.B1850.f09_g1

[2016-05-10 22:51] bertinia opened #445 "st_archive incorrectly removes duplicate rpointer files"
This is due to the following (incorrect) code in the perl version of st_archive:

Line 723:
INCORRECT:
if( uc($config{'DOUT_S_SAVE_INTERIM_RESTART_FILES'}) == 'TRUE' )

CORRECT:
if( uc($config{'DOUT_S_SAVE_INTERIM_RESTART_FILES'}) eq 'TRUE' )

Also need to include the _.rs1._ suffix streams for the data models in the archive.xml specification.

[2016-05-11 15:38] billsacks commented on #151
This has been resolved via the mechanism to put in barriers

[2016-05-11 15:38] #151 closed, assigned to jedwards4b

[2016-05-11 15:39] billsacks commented on #165
fixed by #280

[2016-05-11 15:39] #165 closed, assigned to jedwards4b

[2016-05-11 15:42] billsacks commented on #181
@jedwards4b says: This is partly a problem with job launching, but also partly a problem due to components getting number of threads from OMP_GET_NUM_THREADS rather than from the coupler.

[2016-05-11 15:47] rljacob commented on #181
I'm pretty sure we changed it so the driver always sets the threads.

[2016-05-11 15:50] billsacks commented on #205
@jedwards4b thinks this is fixed in the perl, but re-broken in the python

[2016-05-11 15:53] billsacks commented on #221
eos no longer supported

[2016-05-11 15:53] #221 closed, assigned to nobody

[2016-05-11 15:53] billsacks commented on #229
fixed in python

[2016-05-11 15:53] #229 closed, assigned to nobody

[2016-05-11 15:57] billsacks commented on #241
fixed in python

[2016-05-11 15:57] #241 closed, assigned to jedwards4b

[2016-05-11 16:02] billsacks commented on #258
@jedwards4b says this was addressed via the data assimilation script tool that he put in. We'll check with the DART team post-ESMCI integration

[2016-05-11 16:09] billsacks commented on #261
fixed in python

[2016-05-11 16:09] #261 closed, assigned to mvertens

[2016-05-11 16:13] billsacks commented on #274
@jedwards4b thinks the SHAREDLIBROOT is fixed in python; the requested option to specify a scratchroot option is not present, but would be a good thing to have

[2016-05-11 16:25] billsacks commented on #283
Currently the relevant budget information is written to the cpl log file. One first step would be moving (or copying) this information to the cpl history files. Another piece of this is moving some of the diagnostics out of the ocean model diagnostics package into some more general place. We'll consult @jtruesdal for some ideas on how to move forward.

[2016-05-11 16:34] billsacks commented on #283
We had some discussion about whether the coupler could automatically detect if things are out of balance. However, there are two tricky pieces to this:
1. The coupler doesn't know anything about the change in storage within a component. So you need to compare the net fluxes with the component storage to make sure they agree.
2. Even without storage terms, things won't balance on a timestep-by-time

[2016-05-11 19:28] gold2718 commented on #439
Over in #443, @fischer-ncar commented that the ESMF_E test still fails. Is this with an updated CIME that has the #443 fix? I tried the compset above using current CESM alpha branch (https://svn-ccsm-models.cgd.ucar.edu/cesm1/alphas/branches/cesm1_5_alpha07) and it completed. Files are in: /glade/scratch/goldy/ERS_E_Ld7.f19_g16.B1850.yellowstone_intel.allactive-defaultio.github439

[2016-05-11 19:41] fischer-ncar commented on #439
Strange, I tried the ERS_E test with the alpha07 tag and it failed for me.  I'll try it again.

[2016-05-11 19:49] gold2718 commented on #439
If it does fail for you, please post the build and run directories along with the tag. I did this test from a fresh checkout of the alpha07 branch (not a tag). It is using cime4.5.12.

[2016-05-11 20:38] fischer-ncar commented on #439
It passed for me.  Not sure why it didn't pass the first time.  I did do a clean checkout.

[2016-05-12 16:16] billsacks commented on #91
I propose adding the following to the

[code]

clause for gnu in config_compilers.xml:

[code]

@jedwards4b and others: does this sound reasonable?

[2016-05-12 19:43] #445 closed, assigned to bertinia

[2016-05-18 18:05] bertinia opened #448 "lt_archive needs the mode and saveFlag option to be user configurable"
The current lt_archive.sh hard codes the hsi put saveFlag="PR". This option doesn't delete the local
files upon successful copy to HPSS. There should be a DOUT_L xml option that allows the user
to specify the mode and whether or not to delete local files.

[2016-05-18 21:09] billsacks commented on #284
We can't remember exactly what was desired here. This may partly be a duplicate of #324 . Closing.

[2016-05-18 21:09] #284 closed, assigned to nobody

[2016-05-18 21:10] #285 closed, assigned to nobody

[2016-05-18 21:28] billsacks commented on #330
@jedwards4b thinks he fixed this.

[2016-05-18 21:28] #330 closed, assigned to jedwards4b

[2016-05-18 21:29] billsacks commented on #331
@jedwards4b thinks this is done

[2016-05-18 21:29] #331 closed, assigned to nobody

[2016-05-18 21:30] billsacks commented on #333
fixed in python; closing

[2016-05-18 21:30] #333 closed, assigned to nobody

[2016-05-18 21:32] billsacks commented on #334
@mnlevy1981 's comment is fixed in python. Primary issue is not yet fixed

[2016-05-18 21:36] billsacks commented on #349
@jedwards4b thinks this is fixed

[2016-05-18 21:36] #349 closed, assigned to nobody

[2016-05-18 21:40] billsacks commented on #378
fixed

[2016-05-18 21:40] #378 closed, assigned to mvertens

[2016-05-18 21:42] billsacks commented on #394
@jedwards4b says yes, there is one. Not yet documented, will be for cesm2

[2016-05-18 21:46] #397 closed, assigned to nobody

[2016-05-18 21:46] billsacks commented on #400
@fischer-ncar fixed this

[2016-05-18 21:46] #400 closed, assigned to jedwards4b

[2016-05-18 21:49] billsacks commented on #427
@ekluzek will send test cases to @apcraig to look at

[2016-05-18 21:49] billsacks commented on #439
fixed.

[2016-05-18 21:49] #439 closed, assigned to gold2718

[2016-05-18 21:52] billsacks commented on #444
circumvented by new features in the python st_archive put in place by @mvertens

[2016-05-18 21:52] #444 closed, assigned to bertinia

[2016-05-18 22:12] billsacks commented on #292
This is still a problem in beta06:

[code]

@jedwards4b thinks this is fixed in the python

[2016-05-18 22:12] billsacks commented on #292
Even if this is fixed in the python, we likely still need to back out the PRs mentioned above - i.e., getting rid of the workarounds that had been put in place.

[2016-05-21 02:00] rljacob commented on #283
Do these budget output options still work?
http://www.cesm.ucar.edu/models/cesm1.0/cpl7/cpl7_doc/x165.html

[2016-05-25 01:03] apcraig commented on #283
They did the last time I checked.  Anytime any coupling field is changed or added or deleted, the budget diagnostics have to be updated too.  Generally, that does not happen.  So, in practice, long production runs start, there are problems, people start looking at the budgets, get all confused, and then someone has to go through the painful process or updating the budgets for any changes in couple

[2016-05-25 01:47] jedwards4b commented on #283
​It seems like it's time to dig into them again and then to add some tests
to make sure that they stay consistent. ​  How long of a run would a test
for this require?

On Tue, May 24, 2016 at 7:03 PM, apcraig notifications@github.com wrote:

##

Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2016-05-25 04:30] apcraig commented on #283
What I would recommend is to start with a 5 day run with a fully coupled B configuration.  Turn on all budget diagnostics (they can be written at each timestep) and write coupler history files, maybe once a day or even every timestep.  And check that all the coupling fields appear to be accounted for and are consistent with the fields in the history files.  Then, once that all looks OK, run for a

[2016-05-25 11:37] billsacks commented on #283
I know that we're missing budget diagnostics when running with GLC/CISM in two-way-coupled mode (NOT the typical way of running). It's on my to-do list to figure out what needs to be done for this.

[2016-06-01 19:22] cacraigucar opened #450 "create_newcase: verbose is broken"
In both cime4.4.0 and the ESCMI version of cime, the help message says that there is a "-verbose" or "-v" option.  Whichever flag I use in either of the cime versions, I get a message that is an "unknown option"

[2016-06-01 20:11] jedwards4b commented on #450
This option is working in both forms in esmci:
 ./create_newcase --verbose --case foo2 --compset B1850 --res f19_g16
**WARNING:CIME.utils:Log level set to VERBOSE**
CIME.case    INFO     Compset longname is 1850_CAM55_CLM50%BGC_CICE_POP2%ECO_MOSART_CISM1%NOEVOLVE_SWAV_BGC%BDRD
CIME.case    INFO     Compset specification file is /glade/p/work/jedwards/sandboxes/cesm1_5_alpha06_esmci/cime/scripts/To

[2016-06-01 20:23] cacraigucar commented on #450
I'm not sure what I did wrong before, but now when I'm in the ESMCI version, it is working for me as well.  Sorry for the false alarm.

[2016-06-01 20:23] #450 closed, assigned to jedwards4b

[2016-06-02 16:28] ekluzek opened #451 "Subscript out of bounds for PE_LOC in driver..."
In cesm1_5_beta06 with cime5.6.0 this test

ERS_D_Ld3.f09_g16_gl5.IG1850CRUCLM50BGCCROP.yellowstone_intel.clm-clm50KitchenSink

dies with the following error...

600:(seq_domain_areafactinit) : min/max mdl2drv    1.00000000000000       1.00000000000000    areafact_a_ATM
 600:(seq_domain_areafactinit) : min/max drv2mdl    1.00000000000000       1.00000000000000    areafact_a_ATM
 181:forrtl: severe

[2016-06-02 23:09] ekluzek commented on #451
PGI tests fail as well. The output looks a little different, but looks like it's the same issue...

 264:Abort(2) on node 264 (rank 264 in comm 1140850688): application called MPI_Abort(MPI_COMM_WORLD, 2) - process 264
 264:INFO: 0031-306  pm_atexit: pm_exit_value is 1.
 229:MCT::m_AttrVect::lsize_: attribute array length mismatch error, stat =-3634
 182:MCT::m_AttrVect::lsize_: attribute array le

[2016-06-02 23:10] ekluzek commented on #451
All of the following tests also fail with the issue. There is one test that is not in DEBUG mode and it fails without giving indication of what's wrong, but the DEBUG version of the same test fails like the others.

451       ERI_D_Ld9.f09_g16.ICLM45BGC.yellowstone_pgi.clm-default
451 ....  ERS_D_Ld3.f09_g16_gl5.IG1850CRUCLM50BGCCROP.yellowstone_intel.clm-clm50KitchenSink
451       ERI_Ld9.f09_g16

[2016-06-02 23:13] ekluzek commented on #451
A test with the gnu compiler also fails, but the output isn't as good...

This is for: ERS_D_Ld3.f09_g16_gl5.IG1850CRUCLM50BGCCROP.yellowstone_gnu.clm-clm50KitchenSink

 600:(seq_domain_areafactinit) : min/max mdl2drv    1.00000000000000       1.00000000000000    areafact_a_ATM
 600:(seq_domain_areafactinit) : min/max drv2mdl    1.00000000000000       1.00000000000000    areafact_a_ATM
   2:MCT::m

[2016-06-02 23:14] billsacks commented on #451
@mvertens says that @jedwards4b says that this is fixed in the esmci. From a brief look at the code diffs around the stack trace, I'm wondering if the fix is:

[code]

[2016-06-02 23:15] billsacks commented on #451
@jedwards4b and @mvertens - can you comment on whether you expect the above patch to fix this problem?

[2016-06-02 23:30] jedwards4b commented on #451
That bug is fixed both in cesm-development and esmci - what cime are you
testing?

On Thu, Jun 2, 2016 at 5:15 PM, Bill Sacks notifications@github.com wrote:

##

Jim Edwards

CESM Software Engineer
National Center for Atmospheric Research
Boulder, CO

[2016-06-02 23:39] billsacks commented on #451
@ekluzek mentioned 5.6.0 - I assume he meant 4.6.0, which was the version in cesm1_5_beta06.

[2016-06-02 23:40] fischer-ncar commented on #451
I think he's testing cime4.6.0 which I tagged incorrectly, it should have been cime4.5.10 in beta06.  I retagged cime4.6.0 as cime4.5.10.  We're at cime4.5.14 now, so this was probably fixed.

[2016-06-02 23:51] ekluzek commented on #451
Fixing the issue that Bill pointed out for the first test -- it now works! So I'm verifying it fixes the others. And I'll also test with cime4.5.14 and see if that works for us.

[2016-06-03 21:16] fischer-ncar opened #453 "ESMF test fails with ESP error for ERP tests"
This is related to issue #439, but wasn't fixed with #443.  @ekluzek ran into this error while doing
testing with cime4.5.14.  A test that's failing is

ERP_E_Ld5.f19_g16.I1850CRUCLM45CN.yellowstone_intel.clm-default

Getting the following error during the restart.
 30:MCT::m_AttrVect::indexRA_:: ERROR--attribute not found: "aream" Traceback:
 30:aa aream->MCT::m_AttrVect::indexRA_

This test will

[2016-06-09 20:41] ekluzek opened #455 "Macros file is incorrect when you switch from MPI to mpi-serial MPILIB -- have to delete by hand"
The Macros file is slightly different on yellowstone with intel when you create a case with MPI and then change to mpi-serial. You then have to delete the old one by hand and create a new one when you do this, ./case.setup -clean won't delete it for you. Maybe there should be an option to case.setup to delete the Macros file to make the need to do this more obvious?

I think the reason for this is

[2016-06-13 22:49] ekluzek commented on #455
In the CSEG meeting, we decided that Sean would work on this in the context of making sure that the Macros file doesn't have to change when MPILIB gets changed. There are some other conditions that shouldn't change the Macros file either.

[2016-06-14 17:31] quantheory commented on #455
I don't have my yubikey access fixed yet, so I don't have Yellowstone access, but I believe that this commit should fix the issue:

https://github.com/quantheory/cime/commit/753163a10a3c87cd2ea1342f42827a669d7663fa

Note that this commit should change answers for serial cases due to compiler-optimization changes on yellowstone. In effect, we're not optimizing serial builds as heavily as MPI builds

[2016-06-15 17:39] #324 closed, assigned to ekluzek

[2016-06-16 17:21] mnlevy1981 opened #456 "hobart_intel doesn't build if you have compiler/nag module loaded"
I load the `compiler/nag` module every time I log on to hobart (via my `.bashrc` file). If I run the following:

[code]

I get an error in the PIO build about having trouble with the MPI and netCDF libraries. However, a well-placed `module purge`:

[code]

builds successfully. I haven't dug into `scripts` to try to track this down, so I don't have a fix to suggest. This appears to be the case in b

[2016-06-17 22:48] #56 closed, assigned to ekluzek

[2016-06-17 22:48] #315 closed, assigned to ekluzek

[2016-06-22 17:01] ekluzek opened #458 "Don't allow -generate and -compare to point to the same thing in create_test"
In what will be clm4_5_8_r182 using a branch of cime off of cime4.5.14, I was able to have both the -generate and -compare point to clm4_5_8_r181, which then screwed up some of my baseline directories for clm4_5_8_r181. create_test should check to make sure the two aren't identical and if they are die with an error.

[2016-06-27 21:37] ekluzek commented on #458
It would also be good if it would check that the -compare directory exists, and that the -generate directory does NOT exist.

[2016-06-28 18:13] billsacks opened #460 "Bug in regular expression match in xmlchange"
Helping Cecilia Bitz port cesm1_5_beta06 to the U Washington machine, perl (5.16?) complained about the regular expression match on line 146 of xmlchange:

[code]

Specifically, it doesn't like '(.*+)'. Should this just be '(.+)' ???

[2016-06-28 18:14] billsacks commented on #460
cc @fischer-ncar

[2016-06-28 18:16] billsacks opened #461 "Problems with BatchUtils.pm with some perl versions"
Helping Cecilia Bitz port cesm1_5_beta06 to the U Washington machine, perl (5.16?) complained about a bunch of stuff in BatchUtils.pm, in doResubmit and submitSingleJob. We managed to get past the problems by deleting the bodies of both of those routines. Comments list those as only applying to ALCF / mira, but we weren't sure whether that's really true.

@fischer-ncar has an email containing the

[2016-06-28 19:00] fischer-ncar commented on #461
Here is the full error message.

Warning: no access to tty (Bad file descriptor).
Thus no job control in this shell.
Bareword found where operator expected at
    /home/disk/eos11/bitz/cesm1_5_beta06c/cime/utils/perl5lib/Batch/BatchUtils.pm line 636, near "my $issta = ($scriptname =~ /archive" (#1)
    (S syntax) The Perl lexer knows whether to expect a term or an operator.
    If it sees what it